{if $di.currentDevice.processing == 2 || !$di.currentDevice.last_commited}
    {if $di.deviceModules->getModuleErrorCode($moduleId) == 109}
        <p>An unexpected data transferring error has occurred. It may be fixed with another backup. Make sure that the following backup requirements are met:</p>
    {else}
        <p>This account has unfinished backup. In order to finish it the device has to meet the following requirements:</p>
    {/if}

    <ul>
        <li>Connected to the Wi-Fi</li>
        <li>Connected to a power source</li>
        <li>Screen is locked</li>
    </ul>
    <p>You can also force backup.</p>
    <p>Go to Settings -> Apple ID -> iCloud -> iCloud Backup (as shown above) and tap Back Up Now.</p>
    <p><b>Note:</b></p>
    <p> * For iOS 9-10.3.1, the path is <b>Settings</b> > <b>iCloud</b> > <b>Backup</b></p>
    <p> * For iOS 6-8 path is <b>Settings</b> > <b>iCloud</b> > <b>Storage & Backup</b></p>



    <p>
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/07.png" class="img-thumbnail">
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/01-1.png" class="img-thumbnail">
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/06-1.png" class="img-thumbnail">
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/03.png" class="img-thumbnail">
    </p>
    <p>Wait till backup process is finished. This may take several minutes.</p>
    <p>
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/3-3.png" class="img-thumbnail">
    </p>
{else}
   <ul> 
    {if $di.deviceModules->hasModuleError($moduleId) and ($moduleId == 'browserHistory' and $di.deviceModules->getModuleErrorCode($moduleId) != 160)}
       <li>Error importing {$moduleName}, please contact <a href="{$di.config.domain}/support">support</a></li>
    {else}
        {if $di.deviceModules->isModuleFound($moduleId)}
            <li>There is no {$moduleName} data. It means there has been no {$moduleName} activity on the target device yet.</li>
        {else}
            {if $di.deviceModules->isModuleChecked($moduleId) || $di.currentDevice.processing == 0}
                {if $isModule}
                    <li>{$moduleName} is not installed</li>
                    <li>{$moduleName} is installed, but it has never been used to log into any account.</li>
                    <li>Backup is disabled for {$moduleName}. To enable Backup, please go to Settings -> iCloud -> Storage -> Manage Storage -> Your Device -> {if $moduleId == 'photos'}Enable Camera Roll{else}Enable {$moduleName} in Backup Options{/if}</li>
                {else}
                    <li>There is no {$moduleName} data. It means there has been no {$moduleName} activity on the target device yet.</li>
                    {if isset($moduleType) and $moduleType == 'browser_history'}
                       <li>A user of the target device has used browsers in the incognito mode.</li>
                       <li>The browsing history of the target device has been cleaned recently.</li>
                    {/if}
                {/if}
            {else}
                <li>The data is updating from iCloud Backup</li>
            {/if}
        {/if}
    {/if}
    </ul>
{/if}

{if $di.currentDevice.processing == 2 || (!$di.deviceModules->isModuleChecked($moduleId) and !$di.deviceModules->isModuleFound($moduleId))}
<p>
    Please note that the primary update may take about 24 hours until the data from the target device appears in your Control Panel. 
    {if $di.deviceModules->getModuleErrorCode($moduleId) == 109}
    <br />If after another backup the issue still remains, please contact our <a href="{$di.config.domain}/support">Customer Support</a>.
    {else}
    <br />Please contact support if it takes longer.
    {/if}
</p>
{/if}