<p>There is no {$moduleName} data. It means there has been no {$moduleName} activity on the target device yet.</p>

<ol>
    <li>
        <p>Enter the Settings menu;</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/noDataiCloudNoModule/1.png" alt="" /></p>
    </li>
    <li>
        <p>Go to iCloud;</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/noDataiCloudNoModule/2.png" alt="" /></p>
    </li>
    <li>
        <p>Proceed to Storage;</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/noDataiCloudNoModule/3.png" alt="" /></p>
    </li>
    <li>
        <p>Choose Manage Storage;</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/noDataiCloudNoModule/4.png" alt="" /></p>
    </li>
    <li>
        <p>Select your device;</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/noDataiCloudNoModule/5.png" alt="" /></p>
    </li>
    <li>
        <p>Enable the {if $moduleId == 'photos'}Photo Library{else}{$moduleName}{/if} option {if $moduleId == 'photos'}(Camera Roll on iOS 6-7){/if}.</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/noDataiCloudNoModule/6.jpg" alt="" /></p>
    </li>
</ol>
        
    