{if $di.currentDevice.processing == 2}
    <p>This account has unfinished backup. In order to finish it the device has to meet the following requirements:</p>
    <ul>
        <li>Connected to the Wi-Fi</li>
        <li>Connected to a power source</li>
        <li>Screen is locked</li>
    </ul>
    <p>You can also force backup.</p>
    <p>Go to Settings -> iCloud -> Storage & Backup -> Back Up Now.</p>
    <p>
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/1.png" class="img-thumbnail">
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/2.png" class="img-thumbnail">
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/4.png" class="img-thumbnail">
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/5.png" class="img-thumbnail">
    </p>
    <p>Wait till backup process is finished. This may take several minutes.</p>
    <p>
        <img src="{$di.config.staticDomain}/images/how-to-install/icloud-instructions/6.png" class="img-thumbnail">
    </p>
{elseif isset($moduleId) and  isset($moduleName) and $di.deviceModules->isModuleFound($moduleId)}
    <ul>
        <li>There is no {$moduleName} data. It means there has been no {$moduleName} activity on the target device yet.</li>
    </ul>
{elseif isset($moduleId) and  isset($moduleName) and ($di.deviceModules->hasModuleError($moduleId) or $di.currentDevice.last_error)}
    <ul>
        <li>Error importing {$moduleName}, please contact support</li>
    </ul>
{elseif isset($moduleId) and  isset($moduleName) and $di.deviceModules->isModuleChecked($moduleId) and !$di.deviceModules->isModuleFound($moduleId)}
    <ul>
        {if isset($isModule) and $isModule}
            <li>{$moduleName} is not installed</li>
            <li>{$moduleName} is installed, but it has never been used to log into any account.</li>
        {/if}
        <li>Backup is disabled for {$moduleName}. To enable Backup, please go to Settings -> iCloud -> Storage -> Manage Storage -> Your Device -> Enable {$moduleName} in Backup Options</li>
    </ul>
{else}
    <ul>
        <li>The data is updating from iCloud Backup</li>
    </ul>
{/if}

<p>
    Please note that the primary update may take about 24 hours until the data from the target device appears in your Control Panel. 
    Please contact support if it takes longer.
</p>