
<p>You can restrict account changes by using Apple Restriction feature on the target device to prevent Apple ID change or back up disabling by target device user.</p>
<p>Go to <b>Settings</b> > <b>General</b> > <b>Restrictions</b> and enter Restriction Code or create a new one. If a code has already been created and you do not know it, then the only way is to erase the device and set it as a new one.</p>
<p>
    <img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/wizard/icloud/6-1.png" alt="" />
    <img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/wizard/icloud/6-2.png" alt="" />
    <img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/wizard/icloud/6-3.png" alt="" />
</p>
<p>Scroll down to Allow Changes and tap on Accounts. Select <b>Don't Allow Changes</b>.</p>
<p>
    <img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/wizard/icloud/6-4.png" alt="" />
    <img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/wizard/icloud/6-5.png" alt="" />
</p>