<div>
    <ol class="breadcrumb">
        <li><a href="{$di.router->getRouteUrl('profile')}">{$di.t->_('Profile')}</a></li>
        <li class="active">{$title}</li>
    </ol>

    {insert "inc.flashMessages.htm"}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-danger">{$di.t->_('Please note that the following plan for this device will be deactivated permanently, and the new plan – activated.')}</p>
                <form method="post">
                    <button type="submit" class="btn btn-success">{$di.t->_('Confirm')}</button>
                </form>
                <a href="{$di.router->getRouteUrl('profile')}?license={$licenseRecord->getRecord()}" class="btn btn-default">{$di.t->_('Back')}</a>
            </div>
        </div>
    </div>
</div>