<style>
    @media (max-width: 767px) {
        .mobile-applications .row {
            text-align: center;
        }
        
        .mobile-applications .row > div {
            margin-bottom: 8px;
        }
        
        .mobile-applications .pull-left, .mobile-applications .pull-right {
            float: none !important;
        }
    }
    
    @media (max-width: 480px) {
        .hidden-xxs {
            display: none;
        }
        
        .add-device .pull-left, .add-device .pull-right {
            float: none !important;
        }
        
        .add-device {
            text-align: center;
        }
    }
</style>

<h1 class="text-center">{$title}</h1>

<div class="col-lg-12">{insert "inc.flashMessages.htm"}</div>

<div class="row-clear">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default add-device">
            <div class="panel-heading">{$di.t->_('Add new phone')}</div>
            <div class="panel-body">
                <ul class="add-buttons">
                    <li>
                        <span class="hidden-xxs">{$di.t->_('Do you want to monitor on iPhone?')}</span>
                        <a href="{$di.router->getRouteUrl('main')}how-to-install/ios-instructions.html" class="btn btn-success pull-right">{$di.t->_('Add iPhone')}</a>
                    </li>
                    <li>
                        <span class="hidden-xxs">{$di.t->_('Do you want to monitor on Android?')}</span>
                        <a href="{$di.router->getRouteUrl('main')}how-to-install/android-instructions.html" class="btn btn-success pull-right">{$di.t->_('Add Android')}</a>
                    </li>
                    <li class="last">
                        <span class="hidden-xxs">{$di.t->_('Do you want to monitor on BlackBerry?')}</span>
                        <a href="{*$di.router->getRouteUrl('main')}how-to-install/blackberry-instructions.html*}" class="btn btn-success disabled pull-right">{$di.t->_('Soon')}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row-clear">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{$di.t->_('Account Settings')}</div>
            <div class="panel-body">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label>{$di.t->_('Email')}</label>
                        <input type="text" value="{$authData.login}" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label for="localeList">{$di.t->_('Language')}</label>
                        {include "scripts/select.htm" class="form-control" name="locale" id="localeList" options=$di.config.locales selected=$di.locale}
                    </div>
                    <div class="form-group">
                        <label for="recordsList">{$di.t->_('Records per page on table')}</label>
                        {include "scripts/select.htm" name="recordsPerPage" id="recordsList" class="form-control" keys=$recordsPerPageList values=$recordsPerPageList selected=$recordsPerPage}
                    </div>
                    <button type="submit" name="settings" class="btn btn-primary">{$di.t->_('Update')}</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{$di.t->_('Change Password')}</div>
            <div class="panel-body">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label for="oldPassword">{$di.t->_('Old Password')}</label>
                        <input type="password" name="oldPassword" id="oldPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="newPassword">{$di.t->_('New password')}</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="newPassword2">{$di.t->_('New password again')}</label>
                        <input type="password" name="newPassword2" id="newPassword2" class="form-control" />
                    </div>
                    <button type="submit" name="changePassword" class="btn btn-primary">{$di.t->_('Update')}</button>
                </form>
            </div>
        </div>
    </div>
</div>