<div id="change-iCloud-pass-content">
    <h1 class="text-center">{$title}</h1>
    <div class="row">
        <div class="col-lg-12">
            {insert "inc.flashMessages.htm"}
            {if $twoFactorAuthentication}
                {if $invalidVerificationCode}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-times-circle"></i>Verification Code you've entered is incorrect. Please, check it carefully and try again.
                    </div>
                {else}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-times-circle"></i>Two-factor authentication is enabled on your account. To continue, you need to generate and enter the Verification Code. Please follow the guide below.
                    </div>
                {/if}
            {/if}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="form-iCloud-pass" method="post" autocomplete="off" role="form">
                        <div class="form-group">
                            <label>Apple ID</label>
                            <input class="form-control" value="{$iCloud->getAppleId()}" disabled />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" name="password"{if $twoFactorAuthentication} value="{$.post.password}" {/if}/>
                        </div>
                        {if $twoFactorAuthentication}
                        <div class="form-group">
                            <p>To generate Verification Code, you must:</p>
                            <ul>
                                <li>Go to Settings -&gt; iCloud</li>
                                <li>Tap on your name in iCloud credentials and enter your iCloud password (if requested)</li>
                                <li>On the next screen, tap on Password & Security and scroll to find Get Verification Code section</li>
                                <li>Tap on Get Verification Code. You will be instantly shown a six-digit code</li>
                                <li>Type the Verification Code in the form below</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Verification Code</label>
                            <input class="form-control" type="text" name="verificationCode">
                        </div>
                        {/if}
                        <div class="form-group">
                            <small><i>Pumpic does not save Apple ID password. We generate a secure authentication token that allows retrieving backups from the iCloud Storage.</i></small>
                        </div>
                        <button class="btn btn-primary" type="submit">{$di->getTranslator()->_('Update')}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{*
<script type="text/javascript">

    var $form = $('#form-iCloud-pass');
    var $submitButton = $form.find('[type=submit]');
    var $password = $form.find('input[name=newPassword]');
    var $loading = $('#loading');
    $form.submit(function () {
        var $form = $(this);
        $submitButton = $form.find('input, button').prop('disabled', true);
        $loading.show();
        $.ajax({
            dataType: "json",
            type: "post",
            url: $form.attr('action'),
            data: {newPassword: $password.val()},
            success: function (jsonResponse) {
                if (!jsonResponse.hasOwnProperty('status') || !jsonResponse.status || !jsonResponse.hasOwnProperty('data') || !jsonResponse.data.hasOwnProperty('location'))
                    window.location.reload();

                else
                    window.location.replace(jsonResponse.data.location);
            },
            error: function (response) {
                console.log(response);
                window.location.reload();
            }
        });
        return false;

    }).find('input[name=newPassword]').on("input", function () {
        if ($(this).val().length >= 3)
            $submitButton.prop('disabled', false);
        else
            $submitButton.prop('disabled', true);
    });

</script>
*}