<div>
    <h1 class="text-center">{$title}</h1>

    {if isset($showUpdateBlock)}
        {if $showUpdateBlock == 'ios'}
            <p class="bg-warning" style="padding: 10px;">Application limiting by time has become available with a new version of Pumpic mobile application. The new version of the software will be automatically updated on the target device. Please make sure that the target device is connected to the Internet.</p>
        {else}
            <p class="bg-warning" style="padding: 10px;">Application limiting by time has become available with a new version of Pumpic mobile application. To install the new version, please open the Pumpic app on the target device, delete it from settings and reinstall. <a href="http://cp.pumpic.com/how-to-install/android-instructions.html">Installation instructions</a>.</p>
        {/if}
    {/if}
    
    {insert "inc.flashMessages.htm"}

    {if $hasRecords}
    <div class="table-container">
        <table class="dataTable" id="datatables" aria-describedby="datatables_info">
            <thead>
                <tr role="row">
                    <th>{$di['t']->_('Name')}</th>
                    <th>{$di['t']->_('Version')}</th>
                    <th>{$di['t']->_('Status')}</th>
                    <th>{$di['t']->_('Count')}</th>
                    <th>{$di['t']->_('Last date')}</th>
                    <th>{$di['t']->_('Actions')}</th>
                </tr>
            </thead>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            var lnkTemplate = _.template('<% if (url.length) { %><a href="<%= url %>" target="_blank"><%= name %></a><% } else { %><%= name %><% } %>');

            $('.dataTable').dataTable({
                bProcessing: true,
                bServerSide: true,
                sAjaxSource: '{$di.config.domain}/cp/applications',
                bPaginate: true,
                bFilter: true,
                bSort: true,
                bInfo: true,
                bAutoWidth: false,
                bSortMulti: false,
                iDisplayLength: {$authData.records_per_page},
                oLanguage: {
                    sUrl: '{$di.config.staticDomain}/js/datatables/language/{$di.t->getLocale()}.txt'
                },
                aoColumns: [
                    {
                        mData: null,
                        fnRender: function(obj) {
                            return lnkTemplate({
                                url: obj.aData.url,
                                name: obj.aData.name
                            });
                        }
                    },
                    {
                        bSortable: false,
                        mData: "version"
                    },
                    {
                        mData: null,
                        bSortable: false,
                        fnRender: function(obj) {
                            if (obj.aData.deleted > 0) {
                                return '<span class="text-muted">{$di['t']->_('Deleted')}</span>';
                            }
                            
                            switch (obj.aData.status) {
                                case 'limited': 
                                    var title = "{$di['t']->_('Limited (#m)')}".replace('#', Math.ceil(obj.aData.timelimit / 60));
                                    return '<span class="text-warning">' + title + '</span>';
                                case 'blocked': 
                                    return '<span class="text-danger">{$di['t']->_('Blocked')}</span>';
                                default:
                                    return '<span class="text-success">{$di['t']->_('Active')}</span>';
                            }
                        }
                    },
                    {
                        mData: "count",
                        bSortable: false,
                        sWidth: "100px"
                    },
                    {
                        mData: 'lasttime',
                        bUseRendered: false,
                        bSortable: false,
                        fnRender: function(obj, value) {
                            if (!value) {
                                return '-';
                            }
                            
                            // show time in browser tz
                            {if $di.config.demo}
                            return moment(value * 1000).zone(0).format('lll');
                            {else}
                            return moment.utc(value * 1000).format('lll');
                            {/if}
                        }
                    },
                    {
                        mData: null,
                        bSortable: false,
                        fnRender: function(obj) {
                            if (obj.aData.deleted > 0) {
                                return '';
                            }
                            
                            return '<a class="btn btn-info btn-xs" href="{$di.config.domain}/cp/applications/' + obj.aData.id + '/manage"><i class="fa fa-unlock-alt"></i> Manage Limits</a>';
                        }
                    }
                ],
                fnDrawCallback: function() {
                    $(this).find('tbody').tableScroll();
                }
            });
        });
    </script>
    {else}
    <h3>{$di.t->_('Waiting for applications installed on the device... Why can the data be unavailable?')}</h3>
    {include "content/{$di.t->getLocale()}/noData.html"}
    {/if}
</div>
