<style>
    .popover {
        position: relative;
        display: block;
        margin: 15px 0;
        max-width: 100%;
        width: 85%;
    }

    .popover.left {
        float: right;
        right: 10px;
        left: auto;
    }

    .messages-list {
        border: 1px solid #e1e1e8;
        background-color: #f7f7f9;
        padding: 10px 2px;
    }

    .messages-list > div {
        overflow: hidden;
    }

    .date-title {
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
        margin: 5px 0;
    }

    .panel-top {
        margin-bottom: 10px;
        vertical-align: bottom;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    {include file="inc.flashMessages.htm"}

    <a class="btn btn-default" href="{$di.config.domain}/cp/skype#calls">Back to Skype Call log</a>

    <h4>Conference Call Members:</h4>
    {foreach from=$users item=name key=userId name=users}
    {if strlen($name)}
    <p class="text-info">{$name} ({$userId})</p>
    {/if}
    {/foreach}
</div>