<style>
    .table_title {
        overflow: hidden;
        text-align: center !important;
        padding: 10px 0;
        text-align: left;
        border: 1px solid #e8e8e8;
    }
    @media only screen and (max-width: 1199px) {
        .table_title {
            padding: 10px 150px;
        }
    }
    @media only screen and (max-width: 991px) {
        .table_title {
            padding: 10px 120px;
        }
    }
    @media only screen and (max-width: 480px) {
        .table_title {
            padding: 10px 0px;
        }
    }
    .table_title span {
        display: inline-block;
    }
    .table_title h3 {
        color: #16a89e;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
        padding-bottom: 10px;
    }

    .table {
        color: #4d4f5b;
        position: relative;
        border-top: 1px solid #16a89e;
    }
    .table:first-child {
        margin: 0;
    }
    .table:first-child:before {
        content: "";
        display: block;
        position: absolute;
        top: 185px;
        left: -80px;
        width: 72px;
        height: 475px;
        background: url(../images/img_basis_table.png) no-repeat;
    }
    @media only screen and (max-width: 991px) {
        .table:first-child:before {
            display: none;
        }
    }
    .table:first-child:after {
        content: "";
        display: block;
        position: absolute;
        top: 185px;
        right: -82px;
        width: 74px;
        height: 774px;
        background: url(../images/img_premium_table.png) no-repeat;
    }
    @media only screen and (max-width: 991px) {
        .table:first-child:after {
            display: none;
        }
    }
    .table thead tr th {
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        border-color: #16a89e;
        border-bottom: 1px solid #16a89e;
    }
    @media only screen and (max-width: 480px) {
        .table thead tr th {
            min-width: 56px;
            padding: 8px 2px;
        }
    }
    .table thead tr th:first-child {
        border: 1px solid #8f8f8f !important;
        font-size: 19px;
        text-transform: uppercase;
    }
    @media only screen and (max-width: 480px) {
        .table thead tr th:first-child {
            font-size: 16px;
        }
    }
    .table thead tr th i {
        color: #cecece;
        font-size: 21px;
        margin-right: 5px;
    }
    @media only screen and (max-width: 991px) {
        .table thead tr th i {
            margin: 0;
        }
    }
    .table thead tr th span span {
        font-size: 16px;
    }
    .table tbody tr td {
        color: #868686;
        text-align: center;
        vertical-align: middle;
        font-size: 11px;
        padding: 0 8px;
        height: 35px;
        width: 200px;
    }
    .table tbody tr td:first-child {
        font-size: 14px;
        text-align: right;
    }
    .table tbody tr td i.fa fa-times {
        font-size: 20px;
        min-width: 0;
    }
    .table tbody tr td i.fa fa-times:before {
        margin: 0;
    }
    .table tfoot tr td {
        padding: 0 !important;
        width: auto;
        border: none;
        line-height: 0;
    }
    .table tfoot tr td:first-child {
        text-align: left;
    }
    @media only screen and (max-width: 991px) {
        .table tfoot tr td {
            padding: 8px 16px !important;
        }
    }
    .table tfoot tr td > * {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        padding: 0 12px;
    }
    @media only screen and (max-width: 991px) {
        .table tfoot tr td > * {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    .table tfoot tr td .label_inline {
        width: 450px;
        padding-right: 0 !important;
    }
    .table tfoot tr td h4 {
        font-weight: bold;
        display: inline-block;
        font-size: 18px;
        width: 123px;
        color: #16a89e;
        text-transform: uppercase;
        line-height: 1;
    }
    @media only screen and (max-width: 480px) {
        .table tfoot tr td h4 {
            margin-right: 0;
        }
    }
    .table tfoot tr td .select_row {
        padding: 0 !important;
    }
    .table tfoot tr td button {
        display: inline-block !important;
    }
    @media only screen and (max-width: 991px) {
        .table tfoot tr td button {
            margin-top: 10px;
        }
    }

    .fa-times {
        color: #cf4857;
    }

    .fa-check {
        color: #16a89e;
    }

    .label_radio {
        color: #606060;
    }
    .label_radio span {
        display: block;
        font-weight: normal;
        font-size: 15px;
        text-align: left;
    }
    .label_radio span strong {
        font-size: 25px;
        text-align: left;
    }
    .label_radio span + span {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }

    .label_inline {
        margin-bottom: 10px;
    }
    .label_inline label {
        display: inline-block;
        vertical-align: middle;
    }
    @media only screen and (max-width: 991px) {
        .label_inline {
            display: none !important;
        }
    }

    .select_row {
        display: none !important;
    }
    @media only screen and (max-width: 991px) {
        .select_row {
            display: inline-block !important;
        }
    }

    .label_block {
        overflow: hidden;
    }
</style>
<h3 class="text-center">{$di.t->_('Unfortunately your package does not include this feature.')}</h3>
<h3 class="text-center">{$di.t->_('Update Now to Extend!')}</h3>

<table class="table table-bordered">
    <caption>
        <div class="table_title">
            <h3>Free with every plan:</h3>
            <span><i class="fa fa-check"></i>Remote control</span>
            <span><i class="fa fa-check"></i>Software updates</span>
            <span><i class="fa fa-check"></i>Remote Device Lock</span>
            <span><i class="fa fa-check"></i>Instant location </span>
            <span><i class="fa fa-check"></i>SIM card change alert</span>
        </div>
    </caption>
    <thead>
        <tr>
            <th>FEATURES:</th>
            <th>
    <div class="lg_text_table"><i class="icon-android"></i><span>Android</span></div>
    <div class="sm_text_table"><span>(2.2 - 4.4)</span></div>
</th>
<th>
<div class="lg_text_table"><i class="icon-apple"></i><span>iOS</span></div>
<div class="sm_text_table"><span>(3.1.3 - 7.1.1)<br>jailbreak needed</span></div>
</th>
<th>
<div class="lg_text_table"><i class="icon-blackberry"></i><span class="hidden-xs">BlackBerry</span><span class="visible-xs">BB</span></div>
<div class="sm_text_table"><span>(1.0 - 7.1)</span></div>
</th>
</tr>
</thead>
<tfoot>
    <tr>
        <td colspan="4">
            <div class="label_inline">
                <h4>Basic</h4>
                <label class="label_radio"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked><span><strong>3</strong> month</span><span>$34.98</span></label><label class="label_radio"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span><strong>6</strong> month</span><span>$69.96</span></label><label class="label_radio"><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><span><strong>12</strong> month</span><span>$139.92</span></label>
            </div>
            <div class="select_row">
                <h4>Basic</h4>
                <select class="select_inverse">
                    <option value="">3 month $34.98</option>
                    <option value="">6 month $69.96</option>
                    <option value="">12 month $139.92</option>
                </select>
            </div>
            <div class="_limits">
                <!-- Block block-limits-pricing only for premium include -->
            </div>
            <div class="text-center"><button class="btn btn-default">Buy Basic</button></div>
        </td>
    </tr>
</tfoot>
<tbody>
    <tr>
        <td>Calls history</td>
        <td><b>700</b> calls</td>
        <td><b>700</b> calls</td>
        <td><b>700</b> calls</td>
    </tr>
    <tr>
        <td>SMS history</td>
        <td><b>300</b> SMS</td>
        <td><b>300</b> SMS</td>
        <td><b>300</b> SMS</td>
    </tr>
    <tr>
        <td>SMS blocking</td>
        <td><i class="fa fa-check"></i><br>(except 4.4)</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Location history</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
    </tr>
    <tr>
        <td>Contacts</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Calendar</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Browsing history</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Bookmarks</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Photos</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Emails</td>
        <td><i class="fa fa-check"></i><br>(ROOT for all)</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Applications</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
    <tr>
        <td>Websites &amp; Apps blocking</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-times"></i></td>
    </tr>
</tbody>
</table>

{*
<div class="pricing-table">
    <div class="text-left hidden-xs">
        <div class="title"></div>
        <div class="priceLabel">{$di.t->_('price')}</div>
        <ul>
            <li>{$di.t->_('12 months')}</li>
            <li>{$di.t->_('6 months')}</li>
            <li>{$di.t->_('3 months')}</li>
            <li>{$di.t->_('1 month')}</li>
            <li class="buttonHolder">&nbsp;</li>
            <li>{$di.t->_('View Call History')}</li>
            <li>{$di.t->_('View SMS')}</li>
            <li>{$di.t->_('Stealth mode')}</li>
            <li>{$di.t->_('Location Tracking')}</li>
            <li>{$di.t->_('Call/SMS blocking')}</li>
            <li>{$di.t->_('View Contacts')}</li>
            <li>{$di.t->_('View Calendar')}</li>
            <li>{$di.t->_('Check browsing history')}</li>
            <li>{$di.t->_('View bookmarks')}</li>
            <li>{$di.t->_('View user Photos')}</li>
            <li>{$di.t->_('Read Emails')} *</li>
            <li>{$di.t->_('Remote Control')}</li>

            <li>{$di.t->_('Block applications')}</li>
            <li>{$di.t->_('Software updates')}</li>
            <li>{$di.t->_('SIM card change alert')}</li>
            <li>{$di.t->_('Remote Device Lock')}</li>

            <li>{$di.t->_('Viber/WhatsApp/Skype')} *</li>
            <li>{$di.t->_('View user Videos')}</li>
            <li>{$di.t->_('Facebook Messages')} *</li>
            <li>{$di.t->_('SMS Commands')}</li>
            <li>{$di.t->_('Keylogger')}</li>
            <li class="support">{$di.t->_('Customer Care')}</li>
        </ul>
    </div>
    <div class="text-center">
        <div class="title pro"></div>
        <div class="price">
            $
            <span id="plan_PRO_price"></span>
            <sup id="plan_PRO_cents"></sup>
            <sub>/{$di.t->_('month')}</sub>
        </div>
        <ul>
            <li>
                <span class="visible-xs">{$di.t->_('12 months')}</span>
                -
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('6 months')}</span>
                -
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('3 months')}</span>
                <label>
                    <input type="radio" name="plan_PRO" id="plan_PRO-3" checked="checked" data-price="64.99" data-package="4604418"> $64.99
                </label>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('1 month')}</span>
                <label>
                    <input type="radio" name="plan_PRO" id="plan_PRO-1" data-price="34.99" data-package="4604417"> $34.99
                </label>
            </li>
            <li class="buttonHolder">
                <a href="" class="buyButton" id="plan_PRO_buy_now-2" onclick="return _gaLink(this);">{$di.t->_('Buy Now')}</a>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Call History')} </span>
                700 calls
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View SMS')} </span>
                300 sms
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Stealth mode')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Location Tracking')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Call/SMS blocking')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Contacts')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Calendar')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Check browsing history')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View bookmarks')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View user Photos')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Read Emails *')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Remote Control')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Block applications')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Software updates')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('SIM card change alert')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Remote Device Lock')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Viber/WhatsApp/Skype *')} </span>
                <i class="fa fa-times text-danger"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View user Videos')} </span>
                <i class="fa fa-times text-danger"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Facebook Messages *')} </span>
                <i class="fa fa-times text-danger"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('SMS Commands')} </span>
                <i class="fa fa-times text-danger"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Keylogger')} </span>
                <i class="fa fa-times text-danger"></i>
            </li>
            <li class="support">
                <span class="visible-xs">{$di.t->_('Customer Care')} </span>
                {$di.t->_('Chat and E-mail Support')}
            </li>
        </ul>
        <div>
            <a href="" class="buyButton" id="plan_PRO_buy_now-2" onclick="return _gaLink(this);">{$di.t->_('Buy Now')}</a>
        </div>
    </div>
    <div class="text-center highlited">
        <div class="title pro-plus"></div>
        <div class="price">
            $
            <span id="plan_PRO_Plus_price">18</span>
            <sup id="plan_PRO_Plus_cents">33</sup>
            <sub>/{$di.t->_('month')}</sub>
        </div>
        <ul>
            <li>
                <span class="visible-xs">{$di.t->_('12 months')} </span>
                <label>
                    <input type="radio" name="plan_PRO_Plus" id="plan_PRO_Plus-12" data-price="189.99" data-package="4604423"> $189.99
                </label>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('6 months')} </span>
                <label>
                    <input type="radio" name="plan_PRO_Plus" id="plan_PRO_Plus-6" data-price="129.99" data-package="4604422"> $129.99
                </label>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('3 months')} </span>
                <label>
                    <input type="radio" name="plan_PRO_Plus" id="plan_PRO_Plus-3" checked="checked" data-price="99.99" data-package="4604421"> $99.99
                </label>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('1 month')} </span>
                <label>
                    <input type="radio" name="plan_PRO_Plus" id="plan_PRO_Plus-1" data-price="64.99" data-package="4604420"> $64.99
                </label>
            </li>
            <li class="buttonHolder">
                <a href="" class="buyButton" id="plan_PRO_Plus_buy_now-2" onclick="return _gaLink(this);">{$di.t->_('Buy Now')}</a>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Call History')} </span>
                {$di.t->_('Unlimited')}
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View SMS')} </span>
                {$di.t->_('Unlimited')}
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Stealth mode')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Location Tracking')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Call/SMS blocking')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Contacts')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Calendar')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Check browsing history')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View bookmarks')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View user Photos')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Read Emails')} *</span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Remote Control')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Block applications')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Software updates')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('SIM card change alert')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Remote Device Lock')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Viber/WhatsApp/Skype *')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View user Videos')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Facebook Messages *')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('SMS Commands')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Keylogger')} </span>
                <i class="fa fa-check"></i>
            </li>
            <li class="support">
                <span class="visible-xs">{$di.t->_('Customer Care')} </span>
                {$di.t->_('Phone, Chat and E-mail Support')}
            </li>
        </ul>
        <div>
            <a href="" class="buyButton" id="plan_PRO_Plus_buy_now" onclick="return _gaLink(this);">{$di.t->_('Buy Now')}</a>
        </div>
    </div>
    <div class="text-center">
        <div class="title business"></div>
        <div class="price">
            $
            <span id="plan_Business_price"></span>
            <sup id="plan_Business_cents"></sup>
            <sub>/{$di.t->_('month')}</sub>
        </div>
        <ul>
            <li>
                <span class="visible-xs">{$di.t->_('12 months')}</span>
                <label>
                    <input type="radio" name="plan_Business" id="plan_Business-12" checked="checked" data-price="389.99" data-package="4625796"> $389.99
                </label>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('6 months')}</span>
                <label>
                    <input type="radio" name="plan_Business" id="plan_Business-6" data-price="239.99" data-package="4625791"> $239.99
                </label>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('3 months')} </span>
                -
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('1 month')} </span>
                -
            </li>
            <li class="buttonHolder">
                <a href="" class="buyButton" id="plan_Business_buy_now-2" onclick="return _gaLink(this);">{$di.t->_('Buy Now')}</a>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Call History')} </span>
                {$di.t->_('Unlimited')}
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View SMS')} </span>
                {$di.t->_('Unlimited')}
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Stealth mode')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Location Tracking')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Call/SMS blocking')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Contacts')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View Calendar')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Check browsing history')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View bookmarks')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View user Photos')} </span>
                <i class="fa fa-times text-danger"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Read Emails *')} </span>
                <i class="fa fa-times text-danger"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Remote Control')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Block applications')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Software updates')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('SIM card change alert')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Remote Device Lock')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Viber/WhatsApp/Skype *')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('View user Videos')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Facebook Messages *')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('SMS Commands')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li>
                <span class="visible-xs">{$di.t->_('Keylogger')} </span>
                <i class="fa fa-check text-success"></i>
            </li>
            <li class="support">
                <span class="visible-xs">{$di.t->_('Customer Care')} </span>
                {$di.t->_('Phone, Chat and Email%1$s Premium Support', ['<br/>'])}
            </li>
        </ul>
        <div class="text-center">
            <a href="" class="buyButton" id="plan_Business_buy_now-1" onclick="return _gaLink(this);">{$di.t->_('Buy Now')}</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42165193-1']);
    _gaq.push(['_setDomainName', 'topspyapp.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    function _gaLink(a) {
        _gaq.push(['_set', 'hitCallback', function () {
                _gaq.push(['_set', 'hitCallback', function () {
                        _gaq.push(['_link', a.href]);
                    }]);
                _gaq.push(['_trackEvent', 'cpBuyClick', a.rel]);
            }]);

        _gaq.push(['_trackEvent', 'buyClick', 'cp']);
        return false;
    }

    $(document).ready(function () {
        var buyLink = '{$packageLink}';

        function planHandler(element) {
            var strReplace = function (search, replace, subject) {
                return subject.split(search).join(replace);
            };

            var price = parseFloat($(element).attr('data-price'));
            var id = $(element).attr('id');
            var valid_period = parseFloat(id.split('-')[1]);
            var buy_now = '#' + id.split('-')[0] + '_buy_now-1, #' + id.split('-')[0] + '_buy_now-2';

            $(buy_now).attr('href', buyLink.replace('PACKAGE_ID', $(element).attr('data-package')))
                    .attr('rel', id.split('-')[0].split('plan_')[1].split('_').join('') + valid_period + 'M');

            price = (price / valid_period).toString();

            var dollars = price.split('.')[0];
            var cents = price.split('.')[1];

            id_d = strReplace('-' + id.split('-')[1], '', id) + '_price';
            id_c = strReplace('-' + id.split('-')[1], '', id) + '_cents';
            $('#' + id_d).html(dollars);
            $('#' + id_c).html(cents.substr(0, 2));
        }

        $('input[id^="plan_"]:checked').each(function () {
            planHandler($(this));
        });

        $('input[id^="plan_"]').click(function () {
            planHandler($(this));
        });
    });
</script>*}