{var $select}{include "scripts/select.htm" name="device" id="device" options=$devicesSelectList selected=$di.devId}{/var}
<div>
    <h1 class="text-center">{$title}</h1>

    <div class="row" style="margin: 30px;">
        <div class="col-xs-12 text-center">
            <form method="POST" action="">
                <div class="form-group">
                    {$di.t->_('I want to buy %1$s plan for %2$s device!', ['<span class="text-info">' ~ $plan ~ '</span>', $select])}
                </div>
                <button type="submit" class="btn btn-success">{$di.t->_('Buy Now!')}</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        moment.lang('{$di.locale}');
    });
</script>