/nbproject
/vendor
/tmp/*
!/tmp/.gitkeep
/logs/*
/utils/result/*
/bower_components
/node_modules
/.idea
/compose/mysql-data
composer.phar
docker-compose.yml
development.config.php
build.php
demoUserData.php
