<?php

$default['db'] = array(
    'host' => '188.40.64.2',
    'username' => 'dev_test',
    'password' => 'hEcLTXHGWTpY',
    'dbname' => 'main_test'
);

$default['dataDb'][1] = array(
    'host' => '188.40.64.2',
    'username' => 'dev_test',
    'password' => 'hEcLTXHGWTpY',
    'dbname' => 'data_test'
);

$default['domain'] = 'http://cp.cs:8080';
$default['staticDomain'] = 'http://cp.cs:8080/static';
$default['supportEmail'] = 'b.orest@dizboard.com';

$default['cookieDomain'] = null;
$default['session']['cookieParams']['domain'] = $default['cookieDomain'];

$default['fenom']['options'] = array(
    'force_compile' => true
);