<?php

$default['db'] = array(
    'host' => 'localhost',
    'username' => 'root',
    'password' => '',
    'dbname' => 'main'
);

$default['dataDb'] = function() {
    return array(
        'host' => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname' => 'data'
    );
};

$default['domain'] = 'http://cp.cs:8080';
$default['staticDomain'] = 'http://cp.cs:8080/static';
$default['cookieDomain'] = '.cs';
$default['supportEmail'] = 'b.orest@dizboard.com';

$default['fenom']['options'] = array(
    'force_compile' => true
);