<div>
    <ol class="breadcrumb">
        <li><a href="{$di.router->getRouteUrl('billing')}">{$di.t->_('Payments & Devices')}</a></li>
        <li class="active">{$title}</li>
    </ol>

    {insert "inc.flashMessages.htm"}

    <h4 class="text-center">{$di.t->_('Pick device')}</h4>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
                <div class="add-device-block">
                    {if $devices}
                        {foreach $devices as $id => $name}
                        <div class="add-device-button-wrapper">
                            <a href="{$di.router->getRouteUrl('billingAssignDevice')}?license={$license}&device={$id}" class="btn btn-success">{$name}</a>
                        </div>
                        {/foreach}
                        <h4>{$di.t->_('or')}</h4>
                    {/if}
                    {if $iCloudLicenseAvailable}
                        <a href="{$di.router->getRouteUrl('billingAddICloudDevice')}?license={$license}" class="btn btn-primary">{$di.t->_('Add new iCloud device')}</a>
                    {/if}
                    <h4>{$di.t->_('or')}</h4>
                    <a href="{$di.router->getRouteUrl('billingAddDevice')}?license={$license}" class="btn btn-primary">{$di.t->_('Add new device')}</a>
                </div>
            </div>
        </div>
    </div>
</div>
