<div>
    <ol class="breadcrumb">
        <li><a href="{$di.router->getRouteUrl('billing')}">{$di.t->_('Payments & Devices')}</a></li>
        <li class="active">{$title}</li>
    </ol>

    {insert "inc.flashMessages.htm"}

    
    {if isset($deviceConfirm)}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-danger">{$di.t->_('Please note that the following plan for this device will be deactivated permanently, and the new plan – activated.')}</p>
                    <a href="{$di.router->getRouteUrl('billingAssignDevice')}?license={$license}&device={$deviceConfirm}&confirm" class="btn btn-success">{$di.t->_('Confirm')}</a>
                    <a href="{$di.router->getRouteUrl('billingAssignDevice')}?license={$license}" class="btn btn-default">{$di.t->_('Back')}</a>
                </div>
            </div>
        </div>
    {else}
        <h4 class="text-center">{$di.t->_('Pick device')}</h4>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
                    <div class="add-device-block">
                        {if $devices}
                            {foreach $devices as $id => $deviceItem}
                            <div class="add-device-button-wrapper">
                                {if $deviceItem.product !== null}
                                    <a href="{$di.router->getRouteUrl('billingAssignDevice')}?license={$license}&device={$id}" class="btn btn-warning">{$deviceItem.name} ({$deviceItem.product})</a>
                                {else}
                                    <a href="{$di.router->getRouteUrl('billingAssignDevice')}?license={$license}&device={$id}" class="btn btn-success">{$deviceItem.name}</a>
                                {/if}
                            </div>
                            {/foreach}
                        {/if}
                        {if $iCloudLicenseAvailable}
                            <h4>{$di.t->_('or')}</h4>
                            <a href="{$di.router->getRouteUrl('billingAddICloudDevice')}?license={$license}" class="btn btn-primary">{$di.t->_('Add new iCloud device')}</a>
                        {/if}
                        <h4>{$di.t->_('or')}</h4>
                        <a href="{$di.router->getRouteUrl('billingAddDevice')}?license={$license}" class="btn btn-primary">{$di.t->_('Add new device')}</a>
                    </div>
                </div>
            </div>
        </div>
    {/if}
</div>
