<div>
    <ol class="breadcrumb">
        <li><a href="{$di.router->getRouteUrl('billing')}">{$di.t->_('Payments & Devices')}</a></li>
        <li class="active">{$title}</li>
    </ol>

    

    <h4 class="text-center">{$di.t->_('iCloud data')}</h4>

    <div class="container">
        <div class="row">
            <div class="assign-icloud-form col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
                {insert "inc.flashMessages.htm"}
                <form role="form" method="post" autocomplete="off">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" id="email" value="{$di.request->post('email')}" placeholder="{$di.t->_('Apple ID')}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" id="password" value="" placeholder="{$di.t->_('Password')}" />
                    </div>
                    <button type="submit" class="btn btn-primary">{$di.t->_('Sync')}</button>
                    <a href="https://iforgot.apple.com" class="btn btn-lnk" target="_blank">{$di['t']->_('Lost Password')}</a>
                </form>
            </div>
        </div>
    </div>
</div>
