<select{if $name!} name="{$name|e}"{/if}{if $id!} id="{$id}"{/if}{if $class!} class="{$class}"{/if}>
{if isset($options)}
    {foreach $options as $key => $value}
        <option value="{$key|e}"{if $selected! && ($selected == $key)} selected{/if}>{$value|e}</option>
    {/foreach}
{elseif $keys! && $values!}
    {foreach 0..(count($keys)-1) as $counter}
        <option value="{$keys[$counter]|e}"{if $selected! && ($selected == $keys[$counter])} selected{/if}>{$values[$counter]|e}</option>
    {/foreach}
{/if}
</select>