.row-clear {
    clear: both;
}

.navbar-collapse.center .nav, .navbar-collapse.center .nav > li {
    float: none !important;
    display: inline-block;
    vertical-align: top;
}

.center .navbar-inner {
    text-align: center;
}

.add-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.add-buttons span {
    float: left;
    padding-top: 7px;
}

.add-buttons li {
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #aaa;
}

.add-buttons li.last {
    border-bottom: none !important;
}

.dropdown-menu li a {
    font-size: 16px !important;
}

.tab-content .container {
    padding-top: 15px;
}

.device-status {
    position: relative;
    height: 45px;
    overflow: hidden;
}

.device-status .name {
    display: block;
    float: left;
    font-size: 24px;
    line-height: 45px;
    margin-right: 15px;
}

.device-status .value {
    display: block;
    float: left;
    width: 134px;
    height: 45px;
    background: url('../img/device-statuses.png') no-repeat 0 45px;
}

.device-status .value.wifi {
    background-position: 0 0;
}

.device-status .value.mobile {
    background-position: 0 -45px;
}

.device-status .value.offline {
    background-position: 0 -90px;
}

.device-status-s {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/device-types-statuses.png') no-repeat -16px 16px;
}
.device-status-s.ios {
    background-position: -16px 0;
}

.device-status-s.android {
    background-position: -16px -16px;
}

.device-status-s.blackberry {
    background-position: -16px -32px;
}

.device-status-s.ios.online {
    background-position: 0 0;
}

.device-status-s.android.online {
    background-position: 0 -16px;
}

.device-status-s.blackberry.online {
    background-position: 0 -32px;
}

.device-status-s.icloud {
    background-position: -16px -48px;
}

.device-status-s.icloud.online {
    background-position: 0 -48px;
}

.dropdown.devices-dropdown li {
    position: relative;
}

.dropdown.devices-dropdown .device-status-s {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.dropdown.devices-dropdown span {
    font-weight: bold;
}

#calendar #cal-day-box .cal-row-head {
    height: 30px;
}

.calendar-form > * {
    margin-bottom: 10px;
}

.dropdown-menu a {
    cursor: pointer;
}

.alert i {
    margin-right: 10px; 
}

.container .row .alert {
    overflow: hidden;
}

.form-inline > *, .form-group .input-group  {
    margin: 5px 0;
}

.no-margin {
    margin: 0 !important;
}

.add-device-block {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.add-device-button-wrapper {
    margin-bottom: 7px;
}

.block-or {
    color: red; 
    font-size: 20px; 
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
}

.daterangepickerWrapper {
    overflow: hidden;
}

.button-holder {
    display: inline-block;
}

.button-holder .btn {
    min-width: 100%;
}

.table-normal.table-container table th, .table-normal.table-container table td {
    padding: 8px 10px;
}

.button-relative {
    position: relative;
}

.button-asterisk {
    position: absolute;
    top: 0;
    right: -18px;

}