<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.cp.messages.htm"}

    {if $isGroup}
    <div class="dialog-panel-top">
        <p class="text-info">{$di.t->_('Messages with:')}
            {foreach $members as $item last=$last}
            {if strlen($item.name)}<b>{$item.name|e} ({$item.phone|e})</b>{else}<b>{$item.phone|e}</b>{/if}{if !$last}, {/if}
            {/foreach}
        </p>
        <a class="btn btn-default" href="{$di.router->getRouteUrl('sms')}">{$di['t']->_('Back to SMS log')}</a>
    </div>
    {else}
    <div class="dialog-panel-top">
        <p class="text-info">Messages with <b>{if strlen($userName)}{$userName|e}{else}{$userPhone|e}{/if}</b></p>
        <a class="btn btn-default" href="{$di.router->getRouteUrl('sms')}">{$di['t']->_('Back to SMS log')}</a>
    </div>
    {/if}

    <div id="blockPaginateLists" class="panel panel-default" data-paginate-ajax="{$di.config.domain}/cp/{$tab}/{$id}">
        <div class="panel-heading">
            <div class="row">

                <div class="col-xs-6">
                    <div class="blockSearch">
                        <input type="text" name="search" value="" />
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="blockPerPages">
                        <select class="form-control" id="panel_paginate_per_pages">
                            <option selected="selected">10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <label>Records per page:</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-body text-center dialog-messages-list">
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-7 text-left">
                    <div class="panel_paginate_info" id="panel_paginate_info"></div>
                </div>
                <div class="col-xs-5 text-right">
                    <div class="panel_paginate btn-group" id="panel_paginate"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    function setDataItems( data, page, perPage, items, countEnteres ) {
        if(!data.length) return false;

        items = parseInt(items);
        countEnteres = parseInt(countEnteres);

        var _item = parseInt(page) * parseInt(perPage);
        var to_item = (parseInt(page) + 1) * parseInt(perPage);
        var _endPageItems = (to_item > items) ? items : to_item;

        if($('#panel_paginate_info')) {
            $('#panel_paginate_info').html( "Showing "+ ( (_item > 0) ? _item + 1 : 1 ) +" to "+ _endPageItems +" of "+ items +" entries" );
            if(countEnteres > 0)
                $('#panel_paginate_info').append( "&nbsp;(filtered from "+ countEnteres +" total entries)" );
        }

        $('.panel-body').html('');

        $.each( data, function(key, value) {
            var position = (value.type == 'in') ? 'right' : 'left';
            var blocked = (value.blocked > 0) ? 'text-danger': '';

            var popover_title = '<h3 class="popover-title">';

            var _arrTitle = new Array;

            if(value.type == 'in') {
                _arrTitle.push('<b>'+ ( (value.name) ? _.escape(value.name) : _.escape(value.phone)) +'</b> <span class="date"></span>');
            } else {
                _arrTitle.push('<span class="date"></span>');
            }

            if (value.network > 0) {
                _arrTitle.push("<span class=\"label label-warning\" style=\"float: right;\">{$di['t']->_('iMessage')}</span>");
            }

            if(value.multimedia != 'none' && value.network == 0) {
                _arrTitle.push("<span class=\"label label-warning\" style=\"float: right;\">{$di['t']->_('MMS')}</span>");
            }

            if (value.blocked > 0) {
                _arrTitle.push("<span class=\"label label-danger\" style=\"float: right;\">{$di['t']->_('Blocked')}</span>");
            } else if (value.deleted > 0) {
                _arrTitle.push("<span class=\"label label-warning\" style=\"float: right;\">{$di['t']->_('Deleted')}</span>");
            }

            popover_title += _arrTitle.join('') + '</h3>';

            if (value.multimedia == 'vcard' && typeof value.card != 'undefined') {
                var $card = $('<div class="vcard"><div class="data"></div></div>');
                if (typeof value.card.photo != 'undefined') {
                    $card.prepend('<div class="photo"><img src="' + value.card.photo + '" alt="" class="blur-for-support" /></div>');
                } else {
                    $card.prepend('<div class="photo empty"></div>');
                }

                for (key in value.card.params) {
                    if (typeof value.card.params[key] == 'object') {
                        $card.find('.data').append('<div><b>' + key + ':</b> <span>' + value.card.params[key].join(', ') + '</span></div>');
                    } else {
                        $card.find('.data').append('<div><b>' + key + ':</b> <span>' + value.card.params[key] + '</span></div>');
                    }
                }

                var wrappedContent = $('<div/>').append($card).html();
            } else if (value.multimedia == 'image' && typeof value.image != 'undefined') {
                var wrappedContent = '<a class="dialog-item-photo" href="' + value.image + '"><img src="' + value.thumbnail + '" class="blur-for-support" alt="" /></a>';
            } else if (value.multimedia == 'location') {
                var content = _.escape(value.content);
                var wrappedContent = content.replace(/\[location\](.+?)\[\/location\]/g, function(match) {
                    var match = match.replace(/\[/g, '<').replace(/\]/g, '>');
                    var $location = $($.parseXML(match));
                    var latitude = $location.find('latitude').text();
                    var longitude = $location.find('longitude').text();

                    return '<a class="dialog-item-map" href="https://www.google.com/maps/embed/v1/place?q=' + latitude + ',' + longitude + '&key=AIzaSyACASzYX7N75YbvFU0z0BwGDzxbWyj8TQ8" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center=' + latitude + ',' + longitude + '&zoom=15&size=150x150&markers=color:red%7C' + latitude + ',' + longitude + '&sensor=false" alt="" /></a>';
                });
            } else if (value.multimedia != 'none' && value.multimedia != 'text') {
                var wrappedContent = '<p '+ ( (value.multimedia !== 'none') ? 'class=\"attachment '+ value.multimedia + '\"' : '' ) +'>'+ value.content +'</p>';
            } else {
                var wrappedContent = _.escape(value.content);
            }

            wrappedContent = wrappedContent.replace(/([^>])\n/g, '$1<br/>');

            $('.panel-body').append('<div id="'+ value.timestamp +'">'+
                    '<div class="popover '+ position +' '+ blocked +'">'+
                    '<div class="arrow"></div>'+
                    popover_title +
                    '<div class="popover-content">'+
                    wrappedContent +
                    '</div>'+
                    '</div>'+
                    '</div>');

        });

            {if $supportMode}
            $(".dialog-item-photo").on('click', function(e){
                e.preventDefault();
                alert('Not allowed on support mode!');
            });
            {else}
            $(".dialog-item-photo").colorbox({
                fixed: true,
                rel: 'dialog',
                maxWidth: '90%',
                maxHeight: '90%'
            });
            {/if}

            $(".dialog-item-map").colorbox({
                iframe: true,
                fixed: true,
                rel: 'dialog',
                width:"90%",
                height:"90%"
            });

            Init();

            }

            function Init() {
                var last = 0;
                $('.dialog-messages-list > div').each(function() {
                    var timestamp = $(this).attr('id');

                    var date = moment.unix(timestamp){if isset($customUtcOffset)}.zone({$customUtcOffset}){/if}.format("LL");
                        if (date !== last) {
                            $(this).before('<div class="date-title">' + date + '</div>');
                        }

                        var date = moment.unix(timestamp){if isset($customUtcOffset)}.zone({$customUtcOffset}){/if}.format("LLL");
                            $(this).find('.popover-title span.date').html(date);

                            last = moment.unix(timestamp){if isset($customUtcOffset)}.zone({$customUtcOffset}){/if}.format("LL");
                            });
                            }

                            $(document).ready(function() {
                                // Action Search
                                search();

                                // Paginate
                                $("select#panel_paginate_per_pages").change(function () {
                                    /*-- get new no of items per page --*/
                                    var $search = '', $url = '';
                                    if($('.panel-heading .blockSearch > input').length)
                                        $search = ($('.panel-heading .blockSearch > input').attr('disabled')) ? $('.panel-heading .blockSearch > input').val() : '';

                                    if($('#blockPaginateLists').data('paginate-ajax'))
                                        $url = $('#blockPaginateLists').data('paginate-ajax');

                                    var newPerPage = parseInt($(this).val());
                                    var $_res = getDateAJAXWithoutStrip(newPerPage, 0, $url, $search);

                                    if($('#panel_paginate').data('twbs-pagination'))
                                        $('#panel_paginate').data('twbs-pagination').destroy();

                                    if($_res) {

                                        if(!$_res.items.length) $('.panel-body').html("No data available in lists");
                                        // console.log( $_res );
                                        setDataItems($_res.items, 0, newPerPage, $_res.countItem, $_res.countEnteres);
                                        $('#panel_paginate').twbsPagination({
                                            totalPages: (isset($_res.totalPages)) ? $_res.totalPages : 1,
                                            startPage: 1,
                                            visiblePages: 0,
                                            displayFirst: false,
                                            displayLast: false,
                                            paginationClass: "panel-pagination clearfix",
                                            prev: '<i class="fa fa-arrow-left"></i>',
                                            next: '<i class="fa fa-arrow-right"></i>',
                                            prevClass: 'panel_previous',
                                            onPageClick: function (event, page) {
                                                var pageData = $('#panel_paginate').data();
                                                // console.log(newPerPage, page, $_res.countItem);
                                                var $data = getDateAJAXWithoutStrip(newPerPage, page, $url, $search);
                                                if($data) setDataItems($data.items, page - 1, newPerPage, $data.countItem, $data.countEnteres);
                                            }
                                        });

                                    }

                                }).change();
                            });
</script>