<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.flashMessages.htm"}

    <div class="dialog-panel-top">
        <p class="text-info">Messages with <b>{if strlen($userName)}{$userName}{else}{$userPhone}{/if}</b></p>
        <a class="btn btn-default" href="{$di.router->getRouteUrl('sms')}">{$di['t']->_('Back to SMS log')}</a>
    </div>

    <div class="dialog-messages-list">
        {foreach $list as $item}
        <div id="{$item.timestamp}">
            <div class="popover {if $item.type == 'in'}right{else}left{/if}{if $item.blocked > 0} text-danger{/if}">
                <div class="arrow"></div>
                
                <h3 class="popover-title">
                    {if $item.type == 'in'}
                    <b>{if strlen($item.name)}{$item.name}{else}{$item.phone}{/if}</b> <span class="date"></span>
                    {else}
                    <span class="date"></span>
                    {/if}
                    
                    {if $item.multimedia !== 'none'}
                        <span class="label label-warning" style="float: right;">{$di['t']->_('MMS')}</span>
                    {/if}
                    
                    {if $item.blocked}
                        <span class="label label-danger" style="float: right;">{$di['t']->_('Blocked')}</span>
                    {elseif $item.deleted}
                        <span class="label label-warning" style="float: right;">{$di['t']->_('Deleted')}</span>
                    {/if}
                </h3>
                
                <div class="popover-content">
                    <p{if $item.multimedia !== 'none'} class="attachment {$item.multimedia}"{/if}>{$item.content}</p>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var last = 0;
        $('.dialog-messages-list > div').each(function() {
            var timestamp = $(this).attr('id');

            var date = moment.unix(timestamp).zone(0).format("LL");
            if (date !== last) {
                $(this).before('<div class="date-title">' + date + '</div>');
            }

            var date = moment.unix(timestamp).zone(0).format("LLL");
            $(this).find('.popover-title span.date').html(date);

            last = moment.unix(timestamp).zone(0).format("LL");
        });
    });
</script>