<h3>How to enable Keylogger</h3>
<p>Keylogger from TopSpy introduces a wider scope of spying options. With its help, you can monitor the real-time activity of the target cell phone user including any keyboard keystrokes being pressed within a particular running app. To activate Keylogger you need to enable "Default keyboard", which is preinstalled in the TopSpy app. It's quick and takes only 9 steps to complete:</p>

<ol>
    <li>Open up Settings on the target phone from home screen</li>
    <li>Tap on Personal and choose "Language and input"</li>
    <li>"Default keyboard" will be displayed under this menu.</li>
    <li>Checkmark "Default keyboard"<br/><img src="{$di.config.staticDomain}/images/keylogger/1.jpg" alt="" /></li>
    <li>Press "OK", once the pop-up window appears<br/><img src="{$di.config.staticDomain}/images/keylogger/2.jpg" alt="" /></li>
    <li>Go to the "Default" settings<br/><img src="{$di.config.staticDomain}/images/keylogger/3.jpg" alt="" /></li>
    <li>Checkmark "Default Keyboard" as the preferred input method<br/><img src="{$di.config.staticDomain}/images/keylogger/4.jpg" alt="" /></li>
    <li>After all the changes are saved, Keylogger is enabled<br/><img src="{$di.config.staticDomain}/images/keylogger/5.jpg" alt="" /></li>
    <li>After the Keylogger feature has been activated, your Keyboard will look like this:<br/><img src="{$di.config.staticDomain}/images/keylogger/6.jpg" alt="" /></li>
</ol>

<p style="margin-top: 50px;"><strong>Note:</strong> <em>The "Default Keyboard" looks the same as a standard keyboard, the person you are monitoring is unlikely to notice any changes or get suspicious. However, switch between keyboards cannot be prevented at any time. In case they are switched - you will stop receiving logs till "Default Keyboard" is re-enable</em></p>
