<style>
    .device-button, .device-button:active {
        color: #0090d3;
        padding-left: 50px;
        background: url({$di.config.staticDomain}/img/loginpage-devices-icons.png) no-repeat #f1f2f1;
    }
    
    .device-button.android {
        background-position: 0 -43px;
    }
    
    .device-button.iphone {
        background-position: 0 -3px;
    }
    
    .device-button.blackberry {
        background-position: 0 -82px;
    }
    
    .not-member .btn {
        margin-bottom: 10px;
    }
</style>
<div class="login-form col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
    <h1 class="text-center">{$di.t->_('Login')}</h1>
    {insert "inc.flashMessages.htm"}
    <form role="form" method="post">
        <div class="form-group">
            <label for="email">{$di.t->_('Email address')}</label>
            <input type="text" name="email" class="form-control" id="email" placeholder="{$di.t->_('Email address')}">
        </div>
        <div class="form-group">
            <label for="password">{$di.t->_('Password')}</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="{$di.t->_('Password')}" />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember" value="1">{$di.t->_('Remember me')}
            </label>
        </div>
        <button type="submit" class="btn btn-primary">{$di.t->_('Log in')}</button>
        <a href="{$di.router->getRouteUrl('lostPassword')}" class="btn btn-lnk">{$di['t']->_('Lost Password')}</a>
    </form>

    <div class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading">{$di['t']->_('NOT A MEMBER YET?')}</div>
        <div class="panel-body not-member text-center">
            <div>
                <a href="http://www.topspyapp.com/iphone-spy-software/" class="btn device-button iphone">{$di.t->_('iPhone | iPad')}</a>
                <a href="http://www.topspyapp.com/android-spy-software/" class="btn device-button android">{$di.t->_('Android')}</a>
                <a href="http://www.topspyapp.com/blackberry-spy-software/" class="btn device-button blackberry">{$di.t->_('BlackBerry')}</a>
            </div>
            
            <div>
                <a href="http://demo.topspyapp.com/" class="btn btn-primary">{$di['t']->_('View Demo')}</a>
                <a href="http://www.topspyapp.com/pricing-and-plans/" class="btn btn-warning">{$di['t']->_('Buy Now')}</a>
            </div>
        </div>
    </div>
</div>