<style>
    .form-info {
        padding: 15px;
    }
</style>
<div class="login-form col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
    <h1 class="text-center">{$di.t->_('Lost Password')}</h1>
    
    <p class="form-info bg-warning">{$di.t->_('Please enter your email address. You will receive a link to create a new password via email.')}</p>
    
    {insert "inc.flashMessages.htm"}
    
    <form role="form" method="post">
        <div class="form-group">
            <label for="email">{$di.t->_('Email address')}</label>
            <input type="text" name="email" class="form-control" id="email" placeholder="{$di.t->_('Email address')}">
        </div>
        <button type="submit" class="btn btn-primary">{$di.t->_('Submit')}</button>
    </form>
    <ul class="action-links">
        <li>
            <a href="{$di.router->getRouteUrl('main')}">{$di['t']->_('Login')}</a>
        </li>
    </ul>
</div>