<style>
    .form-info {
        padding: 15px;
    }
</style>
<div class="login-form col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
    <h1 class="text-center">{$di.t->_('Lost Password')}</h1>

    <p class="form-info bg-warning">{$di.t->_('Enter your new password below.')}</p>

    {insert "inc.flashMessages.htm"}

    <form role="form" method="post">
        <div class="form-group">
            <label for="newPassword">{$di.t->_('New password')}</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label for="newPassword2">{$di.t->_('New password again')}</label>
            <input type="password" name="newPassword2" id="newPassword2" class="form-control" />
        </div>
        <button type="submit" name="changePassword" class="btn btn-primary">{$di.t->_('Update')}</button>
    </form>
    <ul class="action-links">
        <li>
            <a href="{$di.router->getRouteUrl('main')}">{$di['t']->_('Login')}</a>
        </li>
    </ul>
</div>