<li>
    <p class="text-left">Enter and repeat a &quot;<strong>Secret Key</strong>&quot;. Tap &quot;<strong>Next</strong>&quot; to proceed.</p>
    <p><b>Note:</b> Remember your secret key carefully. In case of a password recovery, you will need to reinstall the app.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/16.png" alt="" /></p>
</li>
<li>
    <p class="text-left">Now, as you can see, the monittoring is <strong>enabled</strong>.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/17.png" alt="" /></p>
    <p class="text-left">You can always find <strong>Pumpic icon</strong> on the desktop of the target device.</p>
    <p class="text-left">Run the app anytime you want to <strong>enable/disable monitoring</strong> on the target device.</p>
</li>