{insert "wizard/ios/setup.instruction.list.htm"}
<li>
    <p>Check the &quot;<strong>Accept</strong>&quot; box and tap &quot;<strong>Next</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/11.png" alt="" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/12.png" alt="" /></p>
</li>
<li>
    <p>Now the app will ask you to enter a <strong>PIN code</strong>, which you can get in the next step of these Guidelines.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/13.png" alt="" /></p>
</li>