<li>
    <p>Take the target device.</p>
    <p>Make sure that Location Services is enabled. Go to <b>Settings</b> > <b>Privacy</b> > <b>Location Services</b> and, if disabled, turn on the <b>Location Services</b> switch.</p>
</li>
<li>
    <p>Find Cydia icon and open it. If you don’t have it, it means the device is not <b>not jailbroken.</b></p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/1.png" alt="" /></p>
</li>
<li>
    <p>Tap &quot;<strong>Sources</strong>&quot; and then &quot;<strong>Edit</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/2.png" alt="" /></p>
</li>
<li>
    <p>Tap &quot;<strong>Add</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/3.png" alt="" /></p>
</li>
<li>
    <p>Enter the URL: <b>http://ios.loadapps.org</b></p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/4.png" alt="" /></p>
</li>
<li>
    <p>Wait while Cydia updates sources, and then tap &quot;<strong>Return to Cydia</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/5.png" alt="" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/5-1.png" alt="" /></p>
</li>
<li>
    <p>Find &quot;<strong>Development API</strong>&quot; and tap on it.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/6-1.png" alt="" /></p>
</li>
<li>
    <p>Tap on package &quot;<strong>Core Library</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/6.png" alt="" /></p>
</li>
<li>
    <p>Tap &quot;<strong>Install</strong>&quot; and then &quot;<strong>Confirm</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/7.png" alt="" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/8.png" alt="" /></p>
</li>
<li>
    <p>Tap &quot;<strong>Restart SpringBoard</strong>&quot;. Your device <strong>will be</strong> respringed.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/9.png" alt="" /></p>
</li>
<li>
    <p>Find and tap on <strong>Pumpic</strong> icon.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/ios-instructions/ios8/10.png" alt="" /></p>
</li>