<ol class="breadcrumb setup-wizard-breadcrumb">

    {var $stepName = $di.t->_('Subscription Selection')}
    {if $di->getRouter()->getFindRoute()->isAvailableStep('wizardPackage')}
        <li{if $di->getRouter()->getFindRoute()->isCurrentStep('wizardPackage')} class="active"{/if}>
            <a href="{$di->getRouter()->getRouteUrl('wizardPackage')}">1. {$stepName}</a>
        </li>
    {else}<li>1. {$stepName}</li>{/if}


    {var $stepName = $di.t->_('Platform Selection')}
    {if $di->getRouter()->getFindRoute()->isAvailableStep('wizardPlatform')}
        <li{if $di->getRouter()->getFindRoute()->isCurrentStep('wizardPlatform')} class="active"{/if}>
            <a href="{$di->getRouter()->getRouteUrl('wizardPlatform')}">2. {$stepName}</a>
        </li>
    {else}<li>2. {$stepName}</li>{/if}


    {var $stepName = $di.t->_('Device Setup')}
    {if $di->getRouter()->getFindRoute()->isAvailableStep('wizardSetup')}
        <li{if $di->getRouter()->getFindRoute()->isCurrentStep('wizardSetup')} class="active"{/if}>
            <a href="{$di->getRouter()->getRouteUrl('wizardSetup')}">3. {$stepName}</a>
        </li>
    {else}<li>3. {$stepName}</li>{/if}
    
    
    {var $stepName = $di.t->_('Device Activation')}
    {if $di->getRouter()->getFindRoute()->isAvailableStep('wizardRegister')}
        <li{if $di->getRouter()->getFindRoute()->isCurrentStep('wizardRegister')} class="active"{/if}>
            <a href="{$di->getRouter()->getRouteUrl('wizardRegister')}">4. {$stepName}</a>
        </li>
    {else}<li>4. {$stepName}</li>{/if}
    
    {var $stepName = $di.t->_('Complete Installation')}
    {if $di->getRouter()->getFindRoute()->isAvailableStep('wizardFinish')}
        <li{if $di->getRouter()->getFindRoute()->isCurrentStep('wizardFinish')} class="active"{/if}>
            <a href="{$di->getRouter()->getRouteUrl('wizardFinish')}">5. {$stepName}</a>
        </li>
    {else}<li>5. {$stepName}</li>{/if}
    
</ol>