<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container">
        {if count($packages)}
            <div class="button-holder">
                {foreach $packages as $package}
                    <div class="row">
                        <a href="{$di.router->getRouteUrl('wizardPlatform', ['licenseId' => $package.license_id])}" class="btn btn-primary">
                            {$package.name}<span data-timestamp-value="{$package.expiration_date}" data-time-format="ll"></span>
                        </a>
                    </div>
                {/foreach}
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    moment.lang('{$di.t->getLocale()}');
                    $.each($('[data-timestamp-value]'), function(i, timeTag){
                        var $tag = $(timeTag);
                        if($tag.data('timestamp-value') && $tag.data('time-format'))
                            $tag.html(', expires ' + moment($tag.data('timestamp-value') * 1000).format($tag.data('time-format')));
                    });
                });
            </script>
        {else}
            <p class="text-center">
                {$di.t->_('You don’t have any Subscriptions yet!')}
                <br>{$di.t->_('How about buying one right now?')}
            </p>
        {/if}
    </div>
    <h3 class="text-center">{$di.t->_('Buy New Subscription')}</h3>
    <div class="wizard-container">
        <div class="row">
            <a href="{$di.config.registration}" class="btn btn-danger">{$di.t->_('Visit Store')}</a>
        </div>
    </div>
</div>