<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container">
        <p class="text-center">{$di.t->_('Please select the Platform (Operating System) of the target device.')}</p>
        <div class="button-holder">
            <div class="row">
                <a href="{$di.router->getRouteUrl('wizardSetup', [
                'platform' => 'android',
                ])}" class="btn btn-primary">Android</a>
            </div>
            <div class="row">
                <a href="{$di.router->getRouteUrl('wizardSetup', [
                'platform' => 'ios',
                ])}" class="btn btn-primary">iOS</a>
            </div>
            <div class="row">
                <a href="{$di.router->getRouteUrl('wizardSetup', [
                    'platform' => 'icloud',
                    ])}" class="btn icloud-button btn-primary button-relative {if !$iCloudAvailable}disabled{/if}">
                        iCloud
                        <span class="blue-asterisk button-asterisk">*</span>
                </a>
            </div>
        </div>
        <div class="row">
            <p class="text-info">
                <span class="blue-asterisk">*</span>
                iCloud solution is available for Premium Subscription only. It allows you to monitor iPhones, iPads and iPods Touch without jailbreak.
            </p>
        </div>
    </div>
</div>