<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container text-center">
        <p>{$di.t->_('Please select the Platform (Operating System) of the target device.')}</p>
        <div class="button-holder">
            <div class="row" style="margin-bottom: 0;">
                <a {if !$iCloudAvailable} href="javaScript:void(0);" {else}  href="{$di.router->getRouteUrl('wizardSetup', [
                    'platform' => 'icloud',
                    ])}" {/if} class="btn icloud-button btn-primary button-relative {if !$iCloudAvailable}disabled{/if}">
                    <b>iCloud</b>
                    {if !$iCloudAvailable}<span class="asterisk asterisk-info button-asterisk">*</span>{/if}<br>
                </a>
            </div>
            <span style="font-size: 11px;">no jailbreak of the target iOS device is required</span>
            <div class="row" style="margin-bottom: 0;">
                <a {if !$jailbreakAvailable} href="javaScript:void(0);" {else} href="{$di.router->getRouteUrl('wizardSetup', [
                'platform' => 'ios',
                ])}"{/if} class="btn btn-primary {if !$jailbreakAvailable}disabled{/if}"><b>iOS</b>
                    {if !$jailbreakAvailable}<span style="position: relative;left: 165px;" class="asterisk-info">*</span>{/if}<br>
                </a>
            </div>
            <span style="font-size: 11px;">target iOS device must be jailbroken</span>
            <div class="row" style="margin-bottom: 0;">
                <a {if !$androidAvailable} href="javaScript:void(0);"  {else}  href="{$di.router->getRouteUrl('wizardSetup', [
                'platform' => 'android',
                ])}" {/if} class="btn btn-primary {if !$androidAvailable}disabled{/if}"><b>Android</b>
                    {if !$androidAvailable}<span style="position: relative;left: 150px;" class="asterisk-info">*</span>{/if}<br>
                </a>
            </div>
            <span style="font-size: 11px;">target Android device should be rooted for extended functionality</span>
        </div>
        {if !$iCloudAvailable || !$jailbreakAvailable || !$androidAvailable}
        <div class="row">
            <p class="text-info">
                <span class="asterisk asterisk-info">*</span>
                Subscription is not available for the selected device as their types don't match. Use the subscription for another device or buy a subscription that matches your device type.
            </p>
        </div>
        {/if}
    </div>
</div>