<style>
    .add-code-block {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px 30px;
        text-align: center;
        display: inline-block;
        width: 269px;
    }
    
    .add-code-block.android {
        width: 276px;
    }
    
    .add-code-block-phone {
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    
    .add-code-block-phone .value {
        position: absolute;
        top: 300px;
        left: 27px;
    }
</style>
<ol>
    <li>
        <p>Go back to the app and enter the generated PIN Code. Note that the PIN Code is valid within 15 minutes only. If the time has expired, please generate a new PIN Code again.</p>
        <div class="add-code-block android">
            {if $code}
                <h3>{$di.t->_('Your code is:')} {$code}</h3>
                <p class="text-danger">{$di.t->_('valid for 15 min')}</p>
            {else}
                <h3 style="color: #a94442">{$di.t->_("Error during generate code! Pleace try again later!")}</h3>
            {/if}
        </div>
        <div class="add-code-block-phone">
            <img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/code.png" />
            <div class="value">{$code}</div>
        </div>
    </li>
    <li>
        <p>Enter and repeat a &quot;<strong>Secret Key</strong>&quot;. Tap &quot;<strong>Next</strong>&quot; to proceed. </p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-2.png" /></p>
    </li>
    <li>
        <p>Now, as you can see, the monittoring is <strong>enabled</strong>. </p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-3.png" /></p>
    </li>
    <li>
        <p>You can always find <strong>Pumpic icon</strong> in <strong>Apps</strong> menu. </p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-4.png" /></p>
    </li>
    <li>
        <p>Run the app anytime you want to <strong>enable/disable monitoring</strong> on the target device. </p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-5.png" /></p>
    </li>
</ol>

<p>The installation was completed correctly. Pumpic is already monitoring the target device. The data from the target device will soon be sent to your Control Panel.</p>

<form method="post">
    <button type="submit" name="code" value="{$code}" class="btn btn-primary{if !$code} disabled{/if}"{if !$code} disabled{/if}>
        {$di.t->_('Start Monitoring')}
    </button>
</form>