<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container">
        <div class="text-left">
            <p>This account doesn't have any backups yet. Backups are done daily when the following requirements for the target device are met:</p>
            <ol>
                <li>Connected to the Wi-Fi</li>
                <li>Connected to a power source</li>
                <li>Screen is locked</li>
            </ol>
            <p>
                You can also force backup.
                <br>Go to Settings -> iCloud -> Storage & Backup -> Back Up Now.
            </p>
        </div>
        <div class="row text-center">
            <a class="btn btn-success" href="{$di.router->getRouteUrl('wizardSetup')}">{$di.t->_('Check iCloud setup')}</a>
            <a class="btn btn-primary" href="{$di.router->getRouteUrl('wizardRegister')}">{$di.t->_('Try another Account')}</a>
        </div>
    </div>
</div>
