<h4 class="text-center">{$di.t->_('Installation Instructions')}</h4>
<p><b>Pumpic works on regular and rooted phones and tablets. Supported OS versions: 2.2 - 5.1.</b></p>
<p><b>Rooting allows monitoring of social networks and emails, activates SMS blocking feature. Find out how to <a href="/instructions/rooting-android">root device</a>.</b></p>
<ol>
    {insert "wizard/android/setup.instruction.list.all.htm"}
    
</ol>
<p>Now click "Next" to proceed to the next step and complete the installation.</p>
<p>
    <a class="btn btn-primary" href="{$di->getRouter()->getRouteUrl('wizardRegister')}">
        {$di.t->_('Next')}
    </a>
</p>