<style>
    .wizard-container ol li {
        padding-bottom: 20px;
    }
</style>
<h4 class="text-center">{$di.t->_('Installation Instructions')}</h4>
<ol>
    <li>
        <p class="text-left">Take the target device.</p>
        <p class="text-left">Make sure that "Unknown Sources" option is checked. This option can be found at one of the following locations depending on your device model:</p>
        <p><b>Settings</b> > <b>Security</b> OR <b>Settings</b> > <b>Applications</b></p>
        <p class="text-left">The screenshots below show the checked "Unknown Sources" option on different models of devices. The screen of your own device may be a little different, but the path will match with one of the locations mentioned above.</p>
        <p><b>Settings</b> > <b>Security</b></p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/1-1.jpg" width="270" height="459" /></p>
        <p class="text-left">On devices with old Android version (up to 4.0), you should go to <b>Settings</b> > <b>Applications</b>.</p>
    </li>
    <li>
        <p class="text-left">Direct download:</p>
        <p class="text-left">
            To download the application, it is better to use a standard Internet browser.
            Open a browser on the targeted device and enter the following URL: http://android.loadapps.org
            You can also use the QR Code below:
        </p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/QR-code.png" width="132" height="132" /></p>
        <p class="text-left">Using the target device with an old version of Android, you need to tap "<b>Option</b>" button > "<b>Save</b>" > "<b>OK</b>".</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4.jpg" width="333" height="361" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/5.jpg" width="333" height="361" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/6-2.jpg" width="333" height="361" /></p>
    </li>
    <li>
        <p class="text-left">Start the installation.</p>
        <p class="text-left">Go back to &quot;<strong>Apps</strong>&quot; and choose &quot;<strong>Downloads</strong>&quot; section.</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-1.png" width="270" height="480" /></p>
    </li>
    <li>
        <p class="text-left">Tap on the downloaded <strong>monitoring.apk</strong> to start the installation process.</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-2.png" width="270" height="460" /></p>
    </li>
    <li>
        <p class="text-left">Choose &quot;<strong>Next</strong>&quot;.</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-3.png" width="270" height="461" /></p>
    </li>
    <li>
        <p class="text-left">Scroll the screen down and tap &quot;<strong>Install</strong>&quot; to start.</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-4.png" width="270" height="480" /></p>
    </li>
    <li>
        <p class="text-left">When the installation is completed, tap &quot;<strong>Open</strong>&quot;.</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-5.png" width="270" height="464" /></p>
    </li>
    <li>
        <p class="text-left">Tap &quot;<strong>Activate</strong>&quot; to proceed.</p>
        <p><img src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-7.png" alt="" width="270" height="460" class="img-thumbnail" /></p>
    </li>
    <li>
        <p class="text-left">Check the &quot;<strong>Accept</strong>&quot; box and tap &quot;<strong>Next</strong>&quot;.</p>
        <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-6-1.png" width="270" height="460" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-6.png" width="270" height="460" /></p>
    </li>
    <li>
        <p class="text-left">Now the app will ask you to enter a&nbsp;<strong>PIN code</strong>, which you can generate in your Control Panel.</p>
        <p><img src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-1.png" alt="" width="270" height="425" class="img-thumbnail" /></p>
    </li>
</ol>
<p class="text-left">Now click "Next" to proceed to the next step and complete the installation.</p>
<p>
    <a class="btn btn-primary" href="{$di->getRouter()->getRouteUrl('wizardRegister')}">
        {$di.t->_('Next')}
    </a>
</p>