<div>
    <h1 class="text-center">{$title}</h1>
    
    {insert "inc.cp.messages.htm"}

    {if $di.deviceModules->getModuleErrorCode('calls') == 109 && $hasRecords}
        {include "content/{$di.t->getLocale()}/warning/noDataServer.html"}
    {/if}
    
    {if $hasRecords}
    <div class="daterangepickerWrapper">
        <div id="reportrange" class="btn btn-default pull-right">
            <i class="fa fa-calendar fa-lg"></i>
            <span></span>
            <b class="caret"></b>
        </div>
    </div>

    <div class="table-container">
        <table class="dataTable" id="datatable" aria-describedby="datatables_info">
            <thead>
                <tr role="row">
                    <th>{$di.t->_('Date')}</th>
                    <th>{$di.t->_('Type')}</th>
                    <th>{$di.t->_('Number')}</th>
                    <th>{$di.t->_('Name')}</th>
                    <th>{$di.t->_('Duration')}</th>
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var calls = {
                table: null,
                typeTmpl: _.template('<i class="call-<%= type %> hidden-xs" title="<%= title %>"></i><span class="visible-xs"><%= title %></span>'),
                blackList: [],
                getRangeUrl: function(start, end) {
                    if (start && end && start.isValid() && start.isValid()) {
                        start = moment(start).unix();
                        end = moment(end).unix();
                    } else {
                        start = end = -1;
                    }
                    
                    return '{$di.router->getRouteUrl("calls")}?' + $.param({
                        timeFrom: start,
                        timeTo: end
                    });
                },
                reloadTable: function(url) {
                    if (this.table) {
                        this.table.fnReloadAjax(url);
                    }
                },
                init: function() {
                    var table = $('#datatable').dataTable({
                        bProcessing: true,
                        bServerSide: true,
                        sAjaxSource: this.getRangeUrl(),
                        bPaginate: true,
                        bFilter: true,
                        bSort: true,
                        bInfo: true,
                        bAutoWidth: false,
                        bSortMulti: false,
                        aaSorting: [[0, 'desc']],
                        iDisplayLength: {$authData.records_per_page},
                        oLanguage: {
                            sUrl: "{$di.config.staticDomain}/datatables/language/{$di.t->getLocale()}.txt"
                        },
                        aoColumns: [
                            {
                                bUseRendered: false,
                                sWidth: '180px',
                                fnRender: function(obj, value) {
                                    return moment(value * 1000){if isset($customUtcOffset)}.zone({$customUtcOffset}){/if}.format('lll');
                                }
                            },
                            {
                                bUseRendered: false,
                                sWidth: '80px',
                                fnRender: function(obj, value) {
                                    if (value === 'in') {
                                        return calls.typeTmpl({
                                            type: 'in',
                                            title: "{$di.t->_('Incoming call')}"
                                        });
                                    } else if (value === 'out') {
                                        return calls.typeTmpl({
                                            type: 'out',
                                            title: "{$di.t->_('Outgoing call')}"
                                        });
                                    } else {
                                        return '*';
                                    }
                                }
                            },
                            {
                                bUseRendered: false,
                                fnRender: function(obj, value) {
                                    var value = _.escape(value);
                                    if ($.inArray(value, calls.blackList) !== -1) {
                                        return '<span class="text-danger">' + value + '</span>';
                                    }
                                    return value;
                                }
                            },
                            {
                                fnRender: function(obj, value) {
                                    return _.escape(value);
                                }
                            },
                            {
                                sWidth: '110px',
                                fnRender: function(obj, value) {
                                    return moment.utc(value * 1000).format("HH:mm:ss");
                                }
                            }
                        ],
                        fnDrawCallback: function() {
                            calls.table = table;
                            $(this).find('tbody').tableScroll();
                        }
                    });

                    this.initRangePicker();
                },
                initRangePicker: function() {
                    $('#reportrange').timeRange(function(from, to) {
                        calls.reloadTable(calls.getRangeUrl(from, to));
                    });
                }
            };

            calls.blackList = $.parseJSON('{json_encode($blackList)}');
            calls.init();
        });
    </script>
    {else}
        {include "content/{$di.t->getLocale()}/noDataTitle.html"
                moduleName = $di.t->_('Calls')
        }
        
        {if $di.currentDevice.os=='icloud'}
            {include "content/{$di.t->getLocale()}/noDataICloud.html"
            moduleId = 'calls'
            moduleName = $di.t->_('Calls')
            }
        {else}
            {include "content/{$di.t->getLocale()}/noData.html"}
        {/if}
    {/if}
</div>
