<style type="text/css">
    .networkForm {
        margin: 15px 0 10px 0;
    }

    .photo {
        width: 150px;
        height: 150px;
        margin-bottom: 5px;
    }

    .photo-info {
        text-align: left;
        font-size: 10px;
    }

    .photo-info dl {
        margin: 10px 0 0 0;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.flashMessages.htm"}

    <div style="margin-bottom: 10px">
        <a class="btn btn-default" href="{$di.config.domain}/cp/photos">{$di.t->_('Back to albums list')}</a>
    </div>

    {if count($photos)}
    <div class="panel panel-default">
        <div class="panel-heading">{$albumName|e}</div>
        <div class="panel-body text-center">
            {foreach $photos as $item}
            <a href="{$item.fullUrl|e}" class="album-item"><img data-name="{$item.filepath|pathinfo:$.const.PATHINFO_BASENAME|e}" data-time="{$item.timestamp|e}" data-album="{$item.album|e}" data-deleted="{$item.deleted|e}" src="{$item.thumbUrl|e}" alt="" class="photo img-rounded blur-for-support" /></a>
            {/foreach}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(document).ready(function(e) {
        var photoTmpl = _.template('<div class="photo-info"><strong class="text-info"><%- name %></strong><dl><dt>{$di.t->_('Date')}</dt><dd><%- time %></dd><dt>{$di.t->_('Album')}</dt><dd><%- album %></dd><dt>{$di.t->_('Deleted')}</dt><dd><% if (deleted > 0) { %>{$di.t->_('Yes')}<% } else { %>{$di.t->_('No')}<% } %></dd></dl></div>');

        $('.photo').each(function() {
            $(this).popover({
                html: true,
                content: photoTmpl({
                    name: $(this).attr('data-name'),
                    time: moment($(this).attr('data-time') * 1000){if isset($customTimezoneOffset)}.zone({$customTimezoneOffset}){/if}.format('llll'),
                    album: $(this).attr('data-album'),
                    deleted: $(this).attr('data-deleted')
                }),
                placement: 'top',
                trigger: 'hover',
                container: 'body'
            });
        });
        
        {if $supportMode}
            $(".album-item").click(function(e){
                e.preventDefault();
                alert('Not allowed on support mode!');
            });
        {else}
            $(".album-item").colorbox({
                fixed: true,
                rel: 'recent',
                maxWidth: '90%',
                maxHeight: '90%'
            });
        {/if}

        $('.photo').hover(function() {
            $(this).toggleClass('img-rounded img-thumbnail');
        }, function() {
            $(this).toggleClass('img-rounded img-thumbnail');
        });
    });
</script>