<style type="text/css">
    
    .panel-heading {
        padding: 0px;
    }
    
    .panel-heading .title {
        display: block;
        height: 34px;
        padding-top: 6px;
        margin: 8px 0px 8px 8px;
        vertical-align: middle;
    }
    
    .networkForm {
        margin: 15px 0 10px 0;
    }

    .photo {
/*        border: 1px solid red;
        display: inline-block;*/
        width: 150px;
        height: 150px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .photo-info {
        text-align: left;
        font-size: 10px;
    }

    .photo-info dl {
        margin: 10px 0 0 0;
    }
    
    .panel-body > a.album-item {
        text-decoration: none;
    }
    
    .panel-body > a.album-item:focus,
    .panel-body > a.album-item:active {
        border: none;
        outline: none;
    }
    
    /* ============ paginate panel============== */
    .blockPerPages {
        overflow: hidden;
        margin: 8px 8px 8px 0;
        z-index: 9;
    }
    .blockPerPages #panel_paginate_per_pages {
        background: #777985 none repeat scroll 0 0;
        border: 0 none;
        color: #f3f3f3;
        float: right;
        height: 34px;
        width: auto;
    }
    
    #panel_paginate_per_pages > option {}
    .blockPerPages > label {
        float: right;
        line-height: 34px;
        margin: 0 5px 0 0
    }
    
    
    .panel-pagination {
        margin: 0px;
        padding: 0px;
    }
    .panel-pagination li {
        background-color: #f3f3f3;
        border: 1px solid #999999;
        list-style: none;
        float: left;
        position: relative;
        margin-bottom: 0;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 4px;
        cursor: pointer;
    }
    .panel-pagination li:hover, .panel-pagination li.disabled {
        cursor: pointer;
        background-color: #dadada;
        border: 1px solid #7a7a7a;
    }
    .panel-pagination li a, .panel-pagination li:hover > a {
        cursor: inherit;
    }
    
    .panel-pagination li.panel_previous,
    .panel-pagination li.previous {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    
    .panel-pagination li.panel_next,
    .panel-pagination li.next {
        border-left: 0px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    
    .panel-pagination li > a {
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857;
        color: #303030;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.flashMessages.htm"}

    <div style="margin-bottom: 10px">
        <a class="btn btn-default" href="{$di.config.domain}/cp/photos">{$di.t->_('Back to albums list')}</a>
    </div>

    {if count($hasPhotos)}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <span class="title">{$albumName|e}</span>
                </div>
                <div class="col-xs-6">
                    <div class="blockPerPages">
                        <select class="form-control" id="panel_paginate_per_pages">
                            <option selected="selected">10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <label>Records per page:</label>
                    </div> 
                </div>
            </div>
            
        </div>
        <div class="panel-body text-center"></div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-7 text-left">
                    <div class="panel_paginate_info" id="panel_paginate_info"></div>
                </div>
                <div class="col-xs-5 text-right">
                    <div class="panel_paginate btn-group" id="panel_paginate"></div>
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    
    function blockPhotoInfo() {
        var photoTmpl = _.template('<div class="photo-info"><strong class="text-info"><%- name %></strong><dl><dt>{$di.t->_('Date')}</dt><dd><%- time %></dd><dt>{$di.t->_('Album')}</dt><dd><%- album %></dd><dt>{$di.t->_('Deleted')}</dt><dd><% if (deleted > 0) { %>{$di.t->_('Yes')}<% } else { %>{$di.t->_('No')}<% } %></dd></dl></div>');

        $('.photo').each(function() {
            $(this).popover({
                html: true,
                content: photoTmpl({
                    name: $(this).attr('data-name'),
                    time: moment($(this).attr('data-time') * 1000){if isset($customTimezoneOffset)}.zone({$customTimezoneOffset}){/if}.format('llll'),
                    album: $(this).attr('data-album'),
                    deleted: $(this).attr('data-deleted')
                }),
                placement: 'top',
                trigger: 'hover',
                container: 'body'
            });
        });
        
        {if $supportMode}
            $(".album-item").on('click', function(e){
                e.preventDefault();
                alert('Not allowed on support mode!');
            });
        {else}
            $(".album-item").colorbox({
                fixed: true,
                rel: 'recent',
                maxWidth: '90%',
                maxHeight: '90%'
            });
        {/if}

        $('.photo').hover(function() {
            $(this).toggleClass('img-rounded img-thumbnail');
        }, function() {
            $(this).toggleClass('img-rounded img-thumbnail');
        });
    }
    
    
    function getDateAJAX(perPage, page) {
        
        var $_result = {};
        $.ajax({
            type: 'POST',
            url: "{$di.router->getRouteUrl('photos')}/album/{$albumName|e}",
            async: false,
            data: { 'perPage': perPage, 'currPage': page },
            dataType: 'json',
            beforeSend: function() {
                $('.panel-body').html('loading..');
            },
            success: function (result) { 
                $_result = (result) ? result : false;
            }   
        });
        
        return $_result;
    }
    
    function setDataItems( data, page, perPage, items ) {
        if(!data.length) return false;
        items = parseInt(items);

        var _item = parseInt(page) * parseInt(perPage);
        var to_item = (parseInt(page) + 1) * parseInt(perPage);
        var _endPageItems = (to_item > items) ? items : to_item;

        if($('#panel_paginate_info')) 
            $('#panel_paginate_info').html( "Showing "+ ( (_item > 0) ? _item + 1 : 1 ) +" to "+ _endPageItems +" of "+ items +" entries" ); 

        $('.panel-body').html('');
        $.each( data, function(key, value) {
           $('.panel-body').append('<a href="'+ value.fullUrl +'" class="album-item">'+
                '<img data-name="'+ value.filename +'"'+ 
                     'data-time="'+ value.timestamp +'"'+ 
                     'data-album="'+ value.album +'"'+
                     'data-deleted="'+ value.deleted +'"'+ 
                     'src="'+ value.thumbUrl +'"'+ 
                     'alt=""'+ 
                     'class="photo img-rounded blur-for-support" />'+
            '</a>');
        });

        blockPhotoInfo();
    }
    
    $(document).ready(function(e) {
        blockPhotoInfo();
        
        $("select#panel_paginate_per_pages").change(function () {
            /* get new no of items per page */
            var newPerPage = parseInt($(this).val());    
            var $_res = getDateAJAX(newPerPage, 0);
            
            if($('#panel_paginate').data('twbs-pagination'))
                $('#panel_paginate').data('twbs-pagination').destroy();
            
            if($_res) {
                
                setDataItems($_res.items, 0, newPerPage, $_res.countItem);
                
                $('#panel_paginate').twbsPagination({ 
                    totalPages: $_res.totalPages,
                    startPage: 1,
                    visiblePages: 0,
                    displayFirst: false,
                    displayLast: false,
                    paginationClass: "panel-pagination clearfix",
                    prev: '<i class="fa fa-arrow-left"></i>',
                    next: '<i class="fa fa-arrow-right"></i>',
                    prevClass: 'panel_previous',
                    onPageClick: function (event, page) { 
                        var pageData = $('#panel_paginate').data();
                        // console.log(newPerPage, page, $_res.countItem);
                        var $data = getDateAJAX(newPerPage, page);
                        if($data) setDataItems($data.items, page - 1, newPerPage, $data.countItem);
                    }
                });
                
            }
            
            console.log( $_res );
        }).change();
        
    });
</script>