<li>
    <p>Enter and repeat a &quot;<strong>Secret Key</strong>&quot;. Tap &quot;<strong>Next</strong>&quot; to proceed. </p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-2.png" /></p>
</li>
<li>
    <p>Now, as you can see, the monittoring is <strong>enabled</strong>. </p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-3.png" /></p>
</li>
<li>
    <p>You can always find <strong>Pumpic icon</strong> in <strong>Apps</strong> menu. </p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-4.png" /></p>
</li>
<li>
    <p>Run the app anytime you want to <strong>enable/disable monitoring</strong> on the target device. </p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-5.png" /></p>
</li>