<li>
    <p>Take the target device.</p>
    <p>Make sure that "Unknown Sources" option is checked. This option can be found at one of the following locations depending on your device model:</p>
    <p><b>Settings</b> > <b>Security</b> OR <b>Settings</b> > <b>Applications</b></p>
    <p>The screenshots below show the checked "Unknown Sources" option on different models of devices. The screen of your own device may be a little different, but the path will match with one of the locations mentioned above.</p>
    <p><b>Settings</b> > <b>Security</b></p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/1.png" /></p>
    <p>On devices with old Android version (up to 4.0), you should go to <b>Settings</b> > <b>Applications</b>.</p>
</li>
<li>
    <p>Direct download:</p>
    <p>
        To download the application, it is better to use a standard Internet browser.
        Open a browser on the targeted device and enter the following URL: http://android.loadapps.org
        You can also use the QR Code below:
    </p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/QR-code.png" /></p>
    <p>Using the target device with an old version of Android, you need to tap "<b>Option</b>" button > "<b>Save</b>" > "<b>OK</b>".</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4.jpg" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/5.jpg" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/6-2.jpg" /></p>
</li>
<li>
    <p>Start the installation.</p>
    <p>Go back to &quot;<strong>Apps</strong>&quot; and choose &quot;<strong>Downloads</strong>&quot; section.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-1.png" /></p>
</li>
<li>
    <p>Tap on the downloaded <strong>monitoring.apk</strong> to start the installation process.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-2.png" /></p>
    <p>If the installation file is not opening for your device, use <a href="https://play.google.com/store/apps/details?id=com.estrongs.android.pop&hl=en">ES file manager</a> to open downloaded file.</p>
</li>
<li>
    <p>Choose &quot;<strong>Next</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-3.png" /></p>
</li>
<li>
    <p>Scroll the screen down and tap &quot;<strong>Install</strong>&quot; to start.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-4.png" /></p>
</li>
<li>
    <p>When the installation is completed, tap &quot;<strong>Open</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-5.png" /></p>
</li>
<li>
    <p><b>(required for devices with Android 5.0+)</b></p>
    <p>Move the switch to the right to enable &quot;Monitoring&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-8.png" /></p>
</li>
<li>
    <p><b>(required for devices with Android 5.0+)</b></p>
    <p>Tap &quot;OK&quot; to allow access.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-9.png" /></p>
</li>
<li>
    <p><b>(required for devices with Android 5.0+)</b></p>
    <p>Now &quot;Monitoring&quot; is enabled. Tap &quot;Back&quot; to return to the Pumpic app.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-10.png" /></p>
</li>
<li>
    <p>Tap &quot;<strong>Activate</strong>&quot; to proceed.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-7.png" /></p>
</li>
<li>
    <p>Check the &quot;<strong>Accept</strong>&quot; box and tap &quot;<strong>Next</strong>&quot;.</p>
    <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-6-1.png" />&nbsp;<img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/3-6.png" /></p>
</li>