<style>
    .instruction-container {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 15px;
        padding: 20px 30px;
    }
    .instruction-container ul,
    .instruction-container ol {
        margin: 0 10px;
        padding: 0px 10px;
    }
    .img-thumbnail {
        width: 276px;
        height: 486px;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>
    <div class="instruction-container">
        <div class="tab-content">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        
                        <p>Location activation allows tracking the target device on the map. It will also let you follow route history and set Geofences in order to quickly find out if a user of the target device leaves or enters specified restricted areas.</p>

                        <ol>
                            <li>
                                <p>Go to “Settings” menu;</p>
                                <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/activateLocationIos/1.png" alt="" /></p>
                            </li>
                            <li>
                                <p>Proceed to “Privacy” section;</p>
                                <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/activateLocationIos/2.png" alt="" /></p>
                            </li>
                            <li>
                                <p>Enter “Location Services”;</p>
                                <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/activateLocationIos/3.png" alt="" /></p>
                            </li>
                            <li>
                                <p>Enable “Location Services”;</p>
                                <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/activateLocationIos/4.png" alt="" /></p>
                            </li>
                            <li>
                                <p>Location is activated.</p>
                                <p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/instructions/activateLocationIos/5.png" alt="" /></p>
                            </li>
                        </ol>
                        
                        <p><b>Note:</b> it is impossible to prevent a tracked user from changing Location settings. In case the above settings are deactivated, Pumpic will stop tracking the location of the target device. However, you will receive a notification immediately.</p>
                        <p>Are you done? Please wait for 20 minutes until Pumpic starts collecting data.</p>
                        <p><a href="{$previos}" class="btn btn-primary">I'm done!</a></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>    
</div>