.table-container {
    .row {
        background: @pumpic-panel-bg;
        color: @gray-lighter;

        select {
            background: #636572;
            color: @gray-lighter;
            border: 0;
        }
    }

    .dataTables_filter .form-control {
        background: #636572;
        color: #fff;
        border: 0;
    }

    .dataTables_filter .btn-default {
        background: #636572;
        border: 1px solid #636572;
    }
}