// Pumpic theme
a {
    text-decoration: underline;
}

// Navbar =====================================================================

/*
.navbar {
  border-width: 0;

  &-default {

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }

  &-brand {
    line-height: 1;
  }

  &-form {
    .form-control {
      background-color: white;

      &:focus {
        border-color: white;
      }
    }
  }
}*/

// Buttons ====================================================================

a.btn {
    text-decoration: none;

    &.btn-lnk {
        text-decoration: underline;

        &:hover, &:focus, 
            &:active:focus, 
            &.active:focus, 
            &.focus, &:active.focus, 
            &.active.focus  {
            color: @link-color;
            text-decoration: none;
        }
    }
}

.btn:active {
    .box-shadow(none);
}

.btn-group.open .dropdown-toggle {
    .box-shadow(none);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

// Typography =================================================================

.text-primary {
    .text-emphasis-variant(darken(@brand-primary, 10%));
}

// Tables =====================================================================

table,
.table {

    .dropdown-menu a {
        text-decoration: none;
    }

    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
        border: none;
    }

    &-bordered > thead > tr > th,
    &-bordered > tbody > tr > th,
    &-bordered > tfoot > tr > th,
    &-bordered > thead > tr > td,
    &-bordered > tbody > tr > td,
    &-bordered > tfoot > tr > td {
        border: 1px solid @table-border-color;
    }
}

// Forms ======================================================================

.form-control,
input,
textarea {
    .box-shadow(none);

    &:focus {
        .box-shadow(none);
    }
}

.has-warning {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    .form-control-feedback {
        color: @brand-warning;
    }

    .form-control,
    .form-control:focus {
        .box-shadow(none);
    }

    .input-group-addon {
        border-color: @brand-warning;
    }
}

.has-error {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    .form-control-feedback {
        color: @brand-danger;
    }

    .form-control,
    .form-control:focus {
        .box-shadow(none);
    }

    .input-group-addon {
        border-color: @brand-danger;
    }
}

.has-success {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    .form-control-feedback {
        color: @brand-success;
    }

    .form-control,
    .form-control:focus {
        .box-shadow(none);
    }

    .input-group-addon {
        border-color: @brand-success;
    }
}

.input-group-addon {
    color: @text-color;
}

// Navs =======================================================================

.nav {
    .open > a,
    .open > a:hover,
        .open > a:focus {
        border-color: @nav-tabs-border-color;
    }
}

.pager {
    a,
    a:hover {
        color: #fff;
    }

    .disabled {
        &>a,
        &>a:hover,
            &>a:focus,
            &>span {
            background-color: @pagination-disabled-bg;
        }
    }
}

.breadcrumb a {
    color: #fff;
}

// Indicators =================================================================

.close {
    text-decoration: none;
    text-shadow: none;
    opacity: 0.4;

    &:hover,
        &:focus {
        opacity: 1;
    }
}

// Progress bars ==============================================================

.progress {
    height: 10px;
    .box-shadow(none);
    .progress-bar {
        font-size: 10px;
        line-height: 10px;
    }
}

// Containers =================================================================

.well {
    .box-shadow(none);
}

a.list-group-item {

    &.active,
    &.active:hover,
        &.active:focus {
        border-color: @list-group-border;
    }

    &-success {
        &.active {
            background-color: @state-success-bg;
        }

        &.active:hover,
            &.active:focus {
            background-color: darken(@state-success-bg, 5%);
        }
    }

    &-warning {
        &.active {
            background-color: @state-warning-bg;
        }

        &.active:hover,
            &.active:focus {
            background-color: darken(@state-warning-bg, 5%);
        }
    }

    &-danger {
        &.active {
            background-color: @state-danger-bg;
        }

        &.active:hover,
            &.active:focus {
            background-color: darken(@state-danger-bg, 5%);
        }
    }
}

.tags-like {
    background-color: #efefef;
    border: none;
    padding: 2px 7px;
    border-radius: 2px;
    margin: 3px 3px 0 0;
    color: #b3b3b3;
    float: left;
    display: block;

    a {
        margin-left: .5em;
        opacity: .3;

        &:hover {
            opacity: .6;
        }
    }
}
.btn-stretch {
    width: 100%;
    min-width: 52px;
}
.tags-holder {
    text-align: left;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    padding: 0 0 3px 3px;
    margin-bottom: 8px;
    overflow: auto;
    overflow-y:hidden;
}

.full-width {
    padding: 0;

    input[type="text"] {
        width: 100%;
        border: 1px solid #e7e7e7;
    }
}
.panel-body label.settings {
    color: #4d4f5b;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: .8em;
}
.icon-sample {
    height: 24px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.panel-body.inline-data {
    border-top: 1px solid #e7e7e7;
    & > div {
        float: left;
    }
    & > .icon {
        display: block;
        content: "";
        width: 11.5%;

        & > .icon {
            &-power {
                .icon-sample();
                background-image: url("/static/img/settings/power.png");
                height: 22px;
            }
            &-is {
                .icon-sample();
                background-image: url("/static/img/settings/istorage.png");
            }
            &-es {
                .icon-sample();
                background-image: url("/static/img/settings/estorage.png");
            }
            &-bandwidth {
                .icon-sample();
                background-image: url("/static/img/settings/bandwith.png");
            }
            &-ram {
                .icon-sample();
                background-image: url("/static/img/settings/ramfree.png");
                height: 22px;
            }
            &-carrier {
                .icon-sample();
                background-image: url("/static/img/settings/carrier.png");
                height: 22px;
            }
        }
    }
    & > .title {
        width: 40%;

        color: #4d4f5b;
        font-size: 1.1em;
        font-weight: bold;
        text-align: left;
    }
    & > .data {
        width: 46%;
        text-align: right;
        color: #16a89e;

        span {
            color: #4d4f5b;
        }
        
        > * {
            vertical-align: middle;
        }
    }
}
.panel-body.inline-data-noicon {
    border-top: 1px solid #e7e7e7;
    & > div {
        float: left;
    }
    & > .title {
        width: 50%;

        color: #4d4f5b;
        font-size: 1.1em;
        font-weight: bold;
        text-align: left;
    }
    & > .data {
        width: 50%;
        text-align: right;
        color: #16a89e;

        span {
            color: #4d4f5b;
        }
        
        > * {
            vertical-align: middle;
        }
    }
}


.fl-right {
    float: right;
}
.panel-body label.settings.device-status-label {
     float: left;
     padding-top: 15px;
     vertical-align: middle;
}
.checkbox label span {
    color: #4d4f5b;
    display: block;
}
.checkbox label span strong {
    font-size: 1.1em;
    font-weight: bold;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-retroorange,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-retroorange {
    color: #fff;
    background: #16a89e;
}
.bootstrap-switch.bootstrap-switch-focused {
    border-color: #16a89e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(22, 168, 158, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(22, 168, 158, 0.6);
}

.bootstrap-switch {
    margin-top: 5px;
    font-weight: 400 !important;
}
.checkbox label div {
}
.up-line {
    border-top: 1px solid #e7e7e7;
}

.alert a {
    font-weight: bold;
}

.alert-danger a {
    color: @alert-danger-text;
}

.popover {
    color: @text-color;
}

.panel-footer {
    color: #fff;
}

.navbar-default .navbar-toggle {
    background: @brand-primary;
    border: 1px solid @brand-primary;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: lighten(@brand-primary, 3%);
}

.panel-default > .panel-heading {
    border: none;
}

.navbar-default, .nav {
    a {
        text-decoration: none;

        &:hover,&:active {
            text-decoration: none;
        }
    }
}
.hidden-form {
    opacity: .75;
}
.data .outdate {
    background-color: #f0ad4e;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    color: #fff !important;
    font-size: 1.35em;
    font-weight: bold;
}









.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 1;
    filter: alpha(opacity=1);
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=1);
}
.tooltip.top {
    margin-top: 0px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    max-width: 250px;
    padding: 3px 8px;
    color: #868686;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size:13px;
    text-align: center;
    text-decoration: none;
    background-color: #fdfbf3;
    border-radius: 4px;
    border:1px solid #cecece;
    text-transform: none !important;
}
.tooltip-arrow, .tooltip-arrow:after {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip-arrow {

    border-width: 11px;

}
.tooltip-arrow:after {
    border-width: 10px;
    content: "";

}
.tooltip.top .tooltip-arrow {
    left: 10%;
    margin-left: -11px;
    border-bottom-width: -1px;
    border-top-color: #cecece;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: 0px;

}

.tooltip.top .tooltip-arrow:after{
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fdfbf3;
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #f8f8f8;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #f8f8f8;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #f8f8f8;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #f8f8f8;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f8f8f8;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f8f8f8;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f8f8f8;
}











.toggle-right {
    
    .navbar-toggle {
      margin: 0;
      width: 44px;
      height: 38px;
      border: none;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;

      .icon-bar {
          background-color: #fff;
          position: absolute;
          left: 50%;
          margin-left: -11px;
          margin-top: 0 !important;
          transform: rotate(0deg);
          transition: all .1s;
          transform-origin: 50% 50% 50%;
          box-shadow: none;
        }

        .icon-bar:nth-child(2) {
          top: 13px;
        }

        .icon-bar:nth-child(3) {
          opacity: 1;
          top: 50%;
        }
        .icon-bar:nth-child(4) {
          top: 25px;
        }

    }
    
    .navbar-toggle:not(.collapsed) .icon-bar {
        top: 50%;
    }
    
    .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
        transform: rotate(45deg);
    }
    
    .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
        opacity: 0;
    }
    
    .navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
        transform: rotate(-45deg);
    }
    
    .navbar-collapse {
        box-shadow: none;
    }
}

@media only screen and (min-width: 1200px) {
  .toggle-right .navbar-collapse.collapse {
    display: inline-block !important;
  }
}

.toggle-right .collapse.in {
  display: block !important;
}

.wrapper-container .nav-pills-fix {
    margin-top: 0px !important;
    float: left;
    display: inline-block;
}

.alert-success {
    /*color: #333;*/
    color: #6b7081;
}

.alert i {
    margin-right: 3px;
}

.nav-cp-left-bar {
    margin-top: 20px;
}

.table-emails {
    margin-top: 0px;
}

.table-browser-history {
    display: inline-block;
}

/* ========= BLOCK PAGINATE LISTS ============= */
#blockPaginateLists .panel-heading {
    padding: 0px;
}

#blockPaginateLists .panel-heading .title {
    display: block;
    height: 34px;
    padding-top: 6px;
    margin: 8px 0px 8px 8px;
    vertical-align: middle;
}

/* ============ search =============== */
.blockSearch {
    float: left;
    margin: 8px 0 8px 8px;
    width: 200px;
    z-index: 10;
    border-collapse: separate;
    display: table;
    position: relative;
}

.blockSearch > input::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

.blockSearch > input {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #464545;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.blockSearch > input {
    box-shadow: none;
}
.blockSearch > input {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.blockSearch > input {
    font-family: inherit;
    background: #777985 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
}

.blockSearch > input {
    display: table-cell;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.blockSearch > input:focus {
    background: #92939d none no-repeat;
}

.blockSearch .btn-default {
    background: #777985 none repeat scroll 0 0;
    border: 1px solid #777985;
    z-index: auto;
}

/* ============ paginate panel============== */
.blockPerPages {
    overflow: hidden;
    margin: 8px 8px 8px 0;
    z-index: 9;
}
.blockPerPages #panel_paginate_per_pages {
    background: #777985 none repeat scroll 0 0;
    border: 0 none;
    color: #f3f3f3;
    float: right;
    height: 34px;
    width: auto;
}

#panel_paginate_per_pages > option {}
.blockPerPages > label {
    float: right;
    line-height: 34px;
    margin: 0 5px 0 0
}


.panel-pagination {
    margin: 0px;
    padding: 0px;
}
.panel-pagination li {
    background-color: #f3f3f3;
    border: 1px solid #999999;
    list-style: none;
    float: left;
    position: relative;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
}
.panel-pagination li:hover, .panel-pagination li.disabled {
    cursor: pointer;
    background-color: #dadada;
    border: 1px solid #7a7a7a;
}
.panel-pagination li a, .panel-pagination li:hover > a {
    cursor: inherit;
}

.panel-pagination li.panel_previous,
.panel-pagination li.previous {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.panel-pagination li.panel_next,
.panel-pagination li.next {
    border-left: 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.panel-pagination li > a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    color: #303030;
}

// for app message

.alert-app{
    background-color: rgba(255, 255, 255, .5);;
    border-color: rgb(232, 232, 232);
    color: #37474f;
    font-weight: 100;
    img{
        vertical-align: top;
    }
    strong{
        font-weight: 600;
    }
}

    @media(min-width:768px){
        .alert-app{
            width:758px;
            margin-left: calc((100% - 758px) / 2);
            font-size: 16px;
        }
    }
    @media(min-width:991px){
        .alert-app{                    
            margin-left: calc((758px - 100%) / -2);
        }
    }