<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container">
        <p class="text-left">
            Congratulations! You have assigned the target device to your Subscription Plan. 
            The first data will appear in your Control Panel in a few minutes. 
            You can also set display name for the target device right now.
        </p>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
                <form role="form" method="post" autocomplete="off">
                    <div class="form-group text-left">
                        <label for="deviceName">{$di.t->_('Device Name')}</label>
                        <input type="text" name="deviceName" class="form-control" id="deviceName" value="{if $di.request->post('deviceName')}{$di.request->post('deviceName')}{else}{$device->getName()}{/if}" placeholder="{$di.t->_('Device Name')}">
                    </div>
                    <button type="submit" class="btn btn-primary pull-left">{$di.t->_('Update')}</button>
                    <a href="{$di->getRouter()->getRouteUrl('cp')}" class="btn btn-success pull-right">{$di.t->_('Go to Control Panel')}</a>
                </form>
            </div>
        </div>
    </div>
</div>