<style type="text/css">
    .button-holder {
        display: inline-block;
    }
    .button-holder .btn {
        min-width: 100%;
    }
</style>
<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container">
        <p class="text-center">{$di.t->_('Please select the Platform (Operating System) of the target device.')}<span class="blue-asterisk">*</span></p>
        <div class="button-holder">
            <div class="row">
                <a href="{$di.router->getRouteUrl('wizardSetup', [
                'platform' => 'android',
                ])}" class="btn btn-primary">Android</a>
            </div>
            <div class="row">
                <a href="{$di.router->getRouteUrl('wizardSetup', [
                'platform' => 'ios',
                ])}" class="btn btn-primary">iOS</a>
            </div>
            <div class="row">
                <a href="{$di.router->getRouteUrl('wizardSetup', [
                'platform' => 'icloud',
                ])}" class="btn btn-primary{if !$iCloudAvailable} disabled{/if}">iCloud</a>
            </div>
        </div>
        <div class="row">
            <p class="text-info">
                <span class="blue-asterisk">*</span>
                iCloud is available for Premium Subscription only. It allows you to monitor iPhones, iPads and iPods Touch without jailbreak.
            </p>
        </div>
    </div>
</div>