<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container">
        <p>Please select the target device you want to monitor.</p>
        <p><b>Note</b>: Select the target device carefully. You can monitor only one device with one subscription.</p>
        
        {if count($devices)}
            <div class="table-container panel-default table-profile-devices">
                <div class="panel-heading text-left">Devices List</div>
                <table>
                    <thead>
                    <tr>
                        <th>
                            <span class="hidden-xs">{$di.t->_('Device Name')}</span>
                            <span class="visible-xs">{$di.t->_('Name')}</span>
                        </th>
                        <th>
                            <span class="hidden-xs">{$di.t->_('Device Model')}</span>
                            <span class="visible-xs">{$di.t->_('Model')}</span>
                        <th>
                            <span class="hidden-xs">{$di.t->_('Platform (Operating System)')}</span>
                            <span class="visible-xs">{$di.t->_('OS')}</span>
                        </th>
                        <th>
                            <span class="hidden-xs">{$di.t->_('Last Backup')}</span>
                            <span class="visible-xs">{$di.t->_('Backup')}</span>
                        </th>
                        <th>
                            <span class="hidden-xs">{$di.t->_('Quota Used')}</span>
                            <span class="visible-xs">{$di.t->_('Quota')}</span>
                        </th>
                        <th>
                            <span class="hidden-xs">{$di.t->_('Subscription Plan')}</span>
                            <span class="visible-xs">{$di.t->_('Subscription')}</span>
                        </th>
                        <th>{$di.t->_('Subscription Expiration Date')}</th>
                        <th style="width: 160px">{$di.t->_('Action')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {var $o = 0}
                    {foreach $devices as $device}
                        <tr class="{if ++$o%2}odd{else}even{/if}">
                            <td>{$device.device_name}</td>
                            <td>{$device.model}</td>
                            <td>Apple iOS {$device.os_version}</td>
                            <td>{if $device.last_backup}
                                    <span class="timestamp-value" data-time-format="%d %b %Y" data-timestamp-value="{$device.last_backup}"></span>
                                {else}-{/if}
                            </td>
                            <td>{if $device.quota_used}{$device.quota_used} Mb{else}-{/if}</td>
                            <td>
                                {if $device.active}
                                    {$device.package_name}
                                {else}
                                    {$di.t->_('No plan')}
                                {/if}
                            </td>
                            <td>
                                {if $device.added && $device.expiration_date}
                                    <span class="timestamp-value" data-time-format="%d %b %Y" data-timestamp-value="{$device.expiration_date}"></span>
                                {else}-{/if}
                            </td>
                            <td>
                                {if $device.active}
                                    <button class="btn btn-primary btn-xs" disabled>
                                        <i class="fa fa-plug"></i>
                                        {$di.t->_('Change Subscription')}
                                    </button>
                                {elseif $device.added}
                                    <button class="btn btn-success btn-xs" disabled>
                                        <i class="fa fa-plug"></i>
                                        {$di.t->_('Assign Subscription')}
                                    </button>
                                {else}
                                    <form method="post">
                                        <input type="hidden" name="email" value="{$appleID}">
                                        <input type="hidden" name="password" value="{$applePassword}">
                                        <button class="btn btn-success btn-xs" type="submit" name="devHash" value="{$device.unique_id}">
                                            <i class="fa fa-plug"></i>
                                            {$di.t->_('Assign Subscription')}
                                        </button>
                                    </form>
                                {/if}
                            </td>
                        </tr>
                    {/foreach}
                    <script type="text/javascript">
                        $.each($('[data-timestamp-value]'), function(i, timeTag){
                            var $tag = $(timeTag);
                            console.log($tag.data('timestamp-value') * 1000);
                            var date = new Date($tag.data('timestamp-value') * 1000);
                            $tag.html(date.toLocaleFormat($tag.data('time-format')));
                        });
                    </script>
                    </tbody>
                </table>
            </div>
        {else}
            <div class="panel-body">
                <a href="{$di->getRouter()->getRouteUri('profile')}" class="btn btn-primary">
                    {$di.t->_('Add Device')}
                </a>
            </div>
        {/if}
    </div>
</div>
