<div>
    <h1 class="text-center">{$title}</h1>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    {insert "inc.flashMessages.htm"}
    <div class="wizard-container">
        <div class="row">
            <form method="post">
                <input type="hidden" name="email" value="{$appleID}">
                <input type="hidden" name="password" value="{$applePassword}">
                {foreach $devices as $device}
                    <div class="add-device-button-wrapper">
                        <button type="submit" class="btn btn-success" name="devHash" value="{$device.SerialNumber}"{if $device.added} disabled{/if}>
                            <b>{$device.DeviceName}</b> {$device.QuotaUsedMb} {$device.LastModified}
                        </button>
                    </div>
                {/foreach}
            </form>
        </div>
    </div>
</div>
