<p class="text-left">1) Go back to the app and enter the generated PIN Code. Note that the PIN Code is valid within 15 minutes only. If the time has expired, please generate a new PIN Code again.</p>
<p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-1-2.png" width="270" height="425" /></p>
<p class="text-left">2) Enter and repeat a ''<strong>Secret Key</strong>''. Tap &quot;<strong>Next</strong>&quot; to proceed. </p>
<p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-2.png" width="270" height="420" /></p>
<p class="text-left">3) Now, as you can see, the monittoring is <strong>enabled</strong>. </p>
<p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-3.png" width="270" height="425" /></p>
<p class="text-left">4)You can always find <strong>Pumpic icon</strong> in <strong>Apps</strong> menu. </p>
<p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-4.png" width="270" height="417" /></p>
<p class="text-left">5) Run the app anytime you want to <strong>enable/disable monitoring</strong> on the target device. </p>
<p><img class="img-thumbnail" src="{$di.config.staticDomain}/images/how-to-install/android-instructions/4-5.png" width="270" height="423" /></p>
<p>The installation was completed correctly. Pumpic is already monitoring the target device. The data from the target device will soon be sent to your Control Panel.</p>

<form method="post">
    <button type="submit" name="code" value="{$code}" class="btn btn-primary{if !$code} disabled{/if}"{if !$code} disabled{/if}>
        {$di.t->_('Start Monitoring')}
    </button>
</form>