<div>
    {insert "wizard/inc.steps.breadcrumb.htm"}
    <h1 class="text-center">{$title}</h1>
    {insert "inc.flashMessages.htm"}
    {insert "wizard/register.app.add.code.htm"}

    <h3 class="text-center">Activation Instructions</h3>
    <div class="wizard-container">
        <div id="instruction">
            {if $platform == 'android'}
                {insert "wizard/register.app.instruction.android.htm"}
            {elseif $platform == 'ios'}
                {insert "wizard/register.app.instruction.ios.htm"}
            {/if}
        </div>
    </div>
</div>