<style type="text/css">
    @media (max-width: 767px) {
        .daterangepickerWrapper {
            margin-top: 10px;
        }
    }

    .nav.nav-pills {
        margin-top: 10px;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.cp.messages.htm"}

    {if $showUpdateBlock}
        {if $showUpdateBlock == 'ios'}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <p style="color:#303030;">Facebook monitoring has become available with a new version of Pumpic mobile application.
            <br>The new version of the software will be automatically updated on the target device. Please make sure that the target device is connected to the Internet.</p>
    </div>
        {else}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <p style="color:#303030;">Facebook monitoring has become available with a new version of Pumpic mobile application.
            <br>To install the new version, please open the Pumpic app on the target device, delete it from settings and reinstall. <a href="/store.html" style="color: #16a89e;font-weight: normal;">Installation instructions</a>.</p>
    </div>
        {/if}
    {/if}
    
    {if !$paid}
        {insert "cp/updatePackage.html"}
    {elseif count($accounts)}
        {insert "cp/facebook/tabsTable.htm"}
    {else}
        {if $di.currentDevice.os=='android' && !$di.currentDevice.rooted}
            {include "content/{$di.t->getLocale()}/rootPhone.html"}
        {elseif $di.currentDevice.os=='android' && $di.currentDevice.app_version > 6 && $di.currentDevice.rooted && !$di.currentDevice.rootAccess}   
            {include "content/{$di.t->getLocale()}/rootAccessPhone.html"}        
        {else}
            {include "content/{$di.t->getLocale()}/noDataTitle.html" moduleName = $di.t->_('Facebook')}
            {*<h3>{$di.t->_('Waiting for messages... Why can the data be unavailable?')}</h3>*}
            {include "content/{$di.t->getLocale()}/noData.html"
                applicationId = 'facebook'
                applicationName = $di.t->_('Facebook')
            }
        {/if}
    {/if}
</div>
