<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.cp.messages.htm"}

    {if $tab=='private'}
    <div class="dialog-panel-top">
        <p class="text-info">{$di.t->_('Messages with')} <a href="http://facebook.com/{$accountId|e}" class="disable-on-demo" target="_blank">{$accountName|e}</a></p>
        <a class="btn btn-default" href="{$di.config.domain}/cp/facebook">{$di.t->_('Back to Facebook log')}</a>
    </div>
    {elseif $tab=='group'}
    <div class="dialog-panel-top">
        <p class="text-info">{$di.t->_('Messages with')}
            {foreach $users as $userId => $name last=$last}
                {if strlen($name)}
                <a href="http://facebook.com/{$userId}" class="disable-on-demo" target="_blank">{$name|e}</a>{if !$last}, {/if}
                {/if}
            {/foreach}
        </p>
        <a class="btn btn-default" href="{$di.config.domain}/cp/facebook">{$di.t->_('Back to Facebook log')}</a>
    </div>
    {/if}
    
    <div id="blockPaginateLists" class="panel panel-default" data-paginate-ajax="{$di.router->getRouteUrl('facebook')}/{$account}/{$tab}/{$id}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <div class="blockSearch">
                        <input type="text" name="search" value="" />
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                
                <div class="col-xs-6">
                    <div class="blockPerPages">
                        <select class="form-control" id="panel_paginate_per_pages">
                            <option selected="selected">10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <label>Records per page:</label>
                    </div> 
                </div>
            </div>
            
        </div>
        <div class="panel-body text-center dialog-messages-list">
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-7 text-left">
                    <div class="panel_paginate_info" id="panel_paginate_info"></div>
                </div>
                <div class="col-xs-5 text-right">
                    <div class="panel_paginate btn-group" id="panel_paginate"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script type="text/javascript">
    
    function setDataItems( data, page, perPage, items, countEnteres ) {
        if(!data.length) return false;
        items = parseInt(items);
        countEnteres = parseInt(countEnteres);

        var _item = parseInt(page) * parseInt(perPage);
        var to_item = (parseInt(page) + 1) * parseInt(perPage);
        var _endPageItems = (to_item > items) ? items : to_item;

        if($('#panel_paginate_info')) {
            $('#panel_paginate_info').html( "Showing "+ ( (_item > 0) ? _item + 1 : 1 ) +" to "+ _endPageItems +" of "+ items +" entries" ); 
            if(countEnteres > 0)
                $('#panel_paginate_info').append( "&nbsp;(filtered from "+ countEnteres +" total entries)" );
        }    

        $('.panel-body').html('');
        
        $.each( data, function(key, value) {
            var position = (value.type == 'in') ? 'right' : 'left';
            var popover_title = (value.type == 'in') 
                                    ? "<h3 class='popover-title'><a href='http://facebook.com/"+value.id+"' class='disable-on-demo' target='_blank'>"+value.name+"</a> <span></span></h3>"
                                    : "<h3 class=\"popover-title\"><span></span></h3>";
            
            var content = '<p>' + value.text + '</p>';
            if (typeof value.sticker != 'undefined') {
                content = '<p><img src="{$di.config.staticDomain}/img/fb-stickers/' + value.sticker + '.png" alt="" /></p>';
            } else if (typeof value.location != 'undefined') {
                content = '<a class="dialog-item-map" href="https://www.google.com/maps/embed/v1/place?q=' + value.location.latitude + ',' + value.location.longitude + '&key=AIzaSyBQTOwjhvjk4I2-dI9JaueqNoNAi2vF6FI" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center=' + value.location.latitude + ',' + value.location.longitude + '&key=AIzaSyBQTOwjhvjk4I2-dI9JaueqNoNAi2vF6FI&zoom=15&size=150x150&markers=color:red%7C' + value.location.latitude + ',' + value.location.longitude + '&sensor=false" alt="" /></a>';
            } else if (value.attachments.length) {
                var attachments = '';
                for (key in value.attachments) {
                    if (value.attachments[key].mime_type.indexOf('image/') == 0) {
                        switch(value.attachments[key].status) {
                            case 'none':
                                attachments += '<img src="{$di.config.staticDomain}/img/fb-image-none.png" class="attachment-item blur-for-support" alt="" />';
                                break;
                                
                            case 'uploaded':
                                if (typeof value.attachments[key].media != 'undefined') {
                                    attachments += '<a class="dialog-item-photo" href="' + value.attachments[key].media + '"><img src="' + value.attachments[key].thumbnail + '" class="blur-for-support attachment-item" alt="" /></a>';
                                } else {
                                    attachments += '<div class="attachment other">' + value.attachments[key].filename + '</div>';
                                }
                                break;
                                
                            case 'failed':
                                attachments += '<img src="{$di.config.staticDomain}/img/fb-image-failed.png" class="attachment-item blur-for-support" alt="" />';
                                break;
                                
                            default:
                                break;
                        }
                    } else if (value.attachments[key].mime_type.indexOf('video/') == 0) {
                        attachments += '<div class="attachment video">' + value.attachments[key].filename + '</div>';
                    } else if (value.attachments[key].mime_type.indexOf('audio/') == 0) {
                        attachments += '<div class="attachment audio">' + value.attachments[key].filename + '</div>';
                    } else {
                        attachments += '<div class="attachment other">' + value.attachments[key].filename + '</div>';
                    }
                }
                
                content = attachments + '<p>' + value.text + '</p>';
            } else if (!value.text.length) {
                content = '<div class="attachment fail"></div>';
            }
            
            $('.panel-body').append('<div id="'+ value.timestamp +'">'+
                                        '<div class="popover '+ position +'">'+
                                            '<div class="arrow"></div>'+
                                             popover_title +   
                                            '<div class="popover-content">'+
                                                content +
                                            '</div>'+
                                        '</div>'+
                                    '</div>');
            
        });
        
        {if $supportMode}
        $(".dialog-item-photo").on('click', function(e){
            e.preventDefault();
            alert('Not allowed on support mode!');
        });
        {else}
        $(".dialog-item-photo").colorbox({
            fixed: true,
            rel: 'dialog',
            maxWidth: '90%',
            maxHeight: '90%'
        });
        {/if}

        $(".dialog-item-map").colorbox({
            iframe: true,
            fixed: true,
            rel: 'dialog',
            width:"90%",
            height:"90%"
        });

        Init();

    }

    function Init() {
        var last = 0;
        $('.dialog-messages-list > div').each(function() {
            var timestamp = $(this).attr('id');

            var date = moment.unix(timestamp).zone(0).format("LL");
            if (date !== last) {
                $(this).before('<div class="date-title">' + date + '</div>');
            }

            var date = moment.unix(timestamp).zone(0).format("LLL");
            $(this).find('.popover-title span').html(date);

            last = moment.unix(timestamp).zone(0).format("LL");
        });
    }
    
    $(document).ready(function() {
        // Action Search
        search();
        
        // Paginate
        $("select#panel_paginate_per_pages").change(function () {
            /*-- get new no of items per page --*/
            var $search = '', $url = '';
            if($('.panel-heading .blockSearch > input').length)
                 $search = ($('.panel-heading .blockSearch > input').attr('disabled')) ? $('.panel-heading .blockSearch > input').val() : '';
             
            if($('#blockPaginateLists').data('paginate-ajax'))
               $url = $('#blockPaginateLists').data('paginate-ajax');
             
            var newPerPage = parseInt($(this).val());    
            var $_res = getDateAJAX(newPerPage, 0, $url, $search);
            
            if($('#panel_paginate').data('twbs-pagination'))
                $('#panel_paginate').data('twbs-pagination').destroy();
            
            if($_res) {
                
                if(!$_res.items.length) $('.panel-body').html("No data available in lists");
                // console.log( $_res );
                setDataItems($_res.items, 0, newPerPage, $_res.countItem, $_res.countEnteres);
                $('#panel_paginate').twbsPagination({ 
                    totalPages: (isset($_res.totalPages)) ? $_res.totalPages : 1,
                    startPage: 1,
                    visiblePages: 0,
                    displayFirst: false,
                    displayLast: false,
                    paginationClass: "panel-pagination clearfix",
                    prev: '<i class="fa fa-arrow-left"></i>',
                    next: '<i class="fa fa-arrow-right"></i>',
                    prevClass: 'panel_previous',
                    onPageClick: function (event, page) { 
                        var pageData = $('#panel_paginate').data();
                        // console.log(newPerPage, page, $_res.countItem);
                        var $data = getDateAJAX(newPerPage, page, $url, $search);
                        if($data) setDataItems($data.items, page - 1, newPerPage, $data.countItem, $data.countEnteres);
                    }
                });
                
            }
            
        }).change();
    });
</script>