<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>{$title}</title>

        <link href="{$di.config.staticDomain}/css/bootstrap.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/main.css?b{$di.config.build}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700,200' rel='stylesheet' type='text/css' />
        <link href="{$di.config.staticDomain}/css/font-default.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/calendar.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/daterangepicker.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/font-awesome.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/bootstrap-datetimepicker.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/bootstrap-datepicker.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/bootstrap-datepaginator.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/bootstrap-slider.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/colorbox.css?b{$di.config.build}" rel="stylesheet" />
        <link href="{$di.config.staticDomain}/css/datatables.css?b{$di.config.build}" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>
    <body>
        {if !empty($cpMenu)}
        <div class="cp-menu">
            {include 'inc.cp.menu.htm'}
        </div>
        {/if}
        <div class="row-offcanvas wrapper">
            <div class="wrapper-container">
                {include 'inc.header.htm'}
                <div class="container">
                    <div class="row">
                        {if !empty($cpMenu)}
                        <div class="menu-wrapper">
                            <div class="cp-menu hidden-xs">
                                {include 'inc.cp.menu.htm'}
                            </div>
                        </div>
                        <div class="content-wrapper">
                            <div style="background: #028fd6; text-align: center;">
                                {if $di.devicesList[$di.devId].plan=='Lite'}
                                <a href="http://new-cp.topspyapp.local/cp/upgrade?p=1">
                                    <div class="hidden-xs">
                                        <img src="{$di.config.staticDomain}/banners/upgrade-pro.png" alt="" />
                                    </div>
                                    <div class="visible-xs">
                                        <img src="{$di.config.staticDomain}/banners/upgrade-pro-mobile.png" alt="" />
                                    </div>
                                </a>
                                {elseif $di.devicesList[$di.devId].plan=='PRO'}
                                <a href="http://new-cp.topspyapp.local/cp/upgrade">
                                    <div class="hidden-xs">
                                        <img src="{$di.config.staticDomain}/banners/upgrade-pro-plus.png" alt="" />
                                    </div>
                                    <div class="visible-xs">
                                        <img src="{$di.config.staticDomain}/banners/upgrade-pro-plus-mobile.png" alt="" />
                                    </div>
                                </a>
                                {/if}
                            </div>
                            {$content}
                        </div>
                        {else}
                        {$content}
                        {/if}
                    </div>
                </div>
            </div>
            {include 'inc.footer.htm'}
        </div>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/bootstrap.min.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/datatables/jquery.dataTables.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/jquery.cookie.js?b{$di.config.build}"></script>
        {*<script type="text/javascript" src="{$di.config.staticDomain}/js/main.js?b{$di.config.build}"></script>*}

        <script type="text/javascript" src="{$di.config.staticDomain}/js/underscore.min.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/moment.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/daterangepicker.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/datepicker/bootstrap-datepicker.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/bootstrap-datepaginator.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/bootstrap-slider.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/bootstrap-touchspin.js?b{$di.config.build}"></script>

        <script type="text/javascript" src="{$di.config.staticDomain}/js/bootstrap-datetimepicker.js?b{$di.config.build}"></script>

        <script type="text/javascript" src="{$di.config.staticDomain}/js/calendar/calendar.js?b{$di.config.build}"></script>
        <script type="text/javascript" src="{$di.config.staticDomain}/js/calendar/language/{$di.locale}.js?b{$di.config.build}"></script>

        <script type="text/javascript" src="{$di.config.staticDomain}/js/jquery.maskedinput.min.js?b{$di.config.build}"></script>

        <script type="text/javascript" src="{$di.config.staticDomain}/js/jquery.colorbox.js?b{$di.config.build}"></script>

        <script type="text/javascript" src="{$di.config.staticDomain}/js/main.js?b{$di.config.build}"></script>

        <script type="text/javascript" src="{$di.config.staticDomain}/js/jquery.jplayer.js?b{$di.config.build}"></script>
    </body>
</html>