<style>
    .media {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .media .media-body {
        padding: 3px 20px 3px 3px;
    }

    .media .close {
        position: absolute;
        top: 0px;
        right: 5px;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    <div class="container-fluid">
        {insert "inc.cp.messages.htm"}

        <ol class="breadcrumb">
            <li><a href="{$di.router->getRouteUrl('locations')}">{$di.t->_('View locations')}</a></li>
            <li class="active">{$di.t->_('Geofences')}</li>
        </ol>
        
        {foreach $zones as $zone}
        <div class="media">
            <div class="media-left">
                <a href="{$di.router->getRouteUrl('locationsZonesEdit', ['id' => $zone['id']])}">
                    <img class="media-object" src="{$zone.icon}" alt="{$zone.name|e}" />
                </a>
            </div>
            <div class="media-body">
                <a href="{$di.router->getRouteUrl('locationsZonesEdit', ['id' => $zone['id']])}" style="font-weight: 700;">{$zone.name|e}</a>
                <div><b>{$di.t->_('Trigger on:')}</b> {if $zone.trigger==='enter'}{$di.t->_('Enter')}{elseif $zone.trigger==='leave'}{$di.t->_('Leave')}{else}{$di.t->_('Enter')}, {$di.t->_('Leave')}{/if}</div>
                <div><b>{$di.t->_('Alert to:')}</b> {if $zone.email_alert}{$di.t->_('Email')}, {/if}{$di.t->_('Control panel')}</div>
                {if strlen($zone.schedule)}<div><b>{$di.t->_('Scheduled')}</b></div>{/if}
                {if $zone.enable}
                <div class="text-success">{$di.t->_('Enabled')}</div>
                {else}
                <div class="text-muted">{$di.t->_('Disabled')}</div>
                {/if}
            </div>
            <a href="{$di.router->getRouteUrl('locationsZones')}?delete={$zone.id}" class="close" aria-hidden="true">×</a>
        </div>
        {foreachelse}
        <div class="text-center">{$di.t->_('Not added yet!')}</div>
        {/foreach}
        <div class="text-right" style="margin-top: 20px;">
            <a href="{$di.router->getRouteUrl('locationsZonesAdd')}" class="btn btn-primary add-more"><i class="fa fa-plus"></i> {$di.t->_('Add more')}</a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.media .close').click(function () {
                return confirm("Really delete record!");
            });
        });
    </script>
</div>