@import "variables.less";
@import "bootstrap.less";

/* Plugins */
@import "../../../bower_components/font-awesome/less/font-awesome.less";

@import (less) "deprecated/main.css";

.icon-star-bar {
    width: 30px;
    height: 20px;
    background: url('/static/img/button_left_mobile.png') no-repeat;
    margin: 0 auto;
    display: block;
}

.blur {
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=4);
    filter: blur(4px); 
    -webkit-filter: blur(4px); 
    -moz-filter: blur(4px);
    -o-filter: blur(4px); 
    -ms-filter: blur(4px);
}

.text-left-important {
    text-align: left;
    
    .text-center {
        text-align: left;
    }
    
    .text-right {
        text-align: left;
    }
}

.container-max {
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.asterisk {
    display: inline;
    padding-left: 3px;
}

.asterisk-info {
    color: @brand-info;
}

.asterisk-default {
    color: @gray-dark;
}

.asterisk-primary {
    color: @brand-primary;
}

.img-thumbnail {
    margin-bottom: 5px;
}

/* ================== // live chat =============== */
@media only screen and (max-width: @screen-xs-min) { 
    #livechat-compact-container {
        display: none !important;
    }
}
@media (min-width: @screen-xs-min) {
    #livechat-compact-container {
        display: none !important;
    }  
}
@media (min-width: @screen-sm-min) {
    #livechat-compact-container {
        display: block !important;
    }
}
@media (min-width: @screen-md-min) { 
    #livechat-compact-container {
        display: block !important;
    }
}
@media (min-width: @screen-lg-min) {
    #livechat-compact-container {
        display: block !important;
    }
}

/* remove this code from here */

.box-plans { 
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

@media (min-width: @screen-lg-min) { 
    .box-plans {
        #premiumPlan, #basicPlan {
            display: inline !important;
            width: 100%;
        }
    }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
   .box-plans {
        #premiumPlan, #basicPlan {
            padding-left: 10px;
            display: block !important;
            width: 100%;
        }
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 

}
@media (max-width: @screen-xs-max) { 

}

.box-plans {
    #basicPlan {
        margin-right: 5px;
    }
    
    #premiumPlan, #basicPlan {
        display: inline;
    }
}

/* ----- \\ this demo title ------ */
@color-gold:    #f5ac43;
@color-gray:    #9ea1b1;

.only-mobile { display: none; }

#header-info {
    background: #f3f3f3;
}

#header-info  div.box-info > label {
    color: #16a89e;
}

#header-info div.box-info {
    text-align: center;
    padding: 10px 0px;
    
    label {
        font-size: 14px;
        line-height: 1.2em;
        font-weight: lighter;
        position: relative; 
    }
}

.box-header-info {
    padding-top: 21px;
    margin: 0px;
    float: right;
    display: inline-block;
    
    li {
        display: inline-block;
        list-style: none;
        float: left;
    }
   
    li:first-child {
        margin-right: 40px;
    }
    
    label {
        width: auto;
        max-width: auto;
    }
    
    a { text-decoration: underline !important; }
    label, a {
            font-size: 14px;
/*            line-height: 14px;*/
            font-weight: lighter;
            position: relative;
        }
        
    h2 {
        top: -6px;
        position: relative;
        display: inline;
        font-size: 26px;
        line-height: 26px;
        margin: 0 0 0 10px;
        padding: 0;
        text-transform: uppercase;
    }
    
    
    .color-gold {
        color: @color-gold;
    }
    
    .color-gray {
        color: @color-gray;
    }
    
}

@media (min-width: @screen-lg-min) { 
    .box-header-info { display: inline-block; }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .box-header-info { 
        display: inline-block; 
        li:first-child {
            margin-right: 40px;
        }
        
        .color-gray { 
            display: block;
            font-size: 14px;
        }
        
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
    .box-header-info { 
        display: inline-block; 
        
        li:first-child {
            margin-right: 10px;
        }
        
        .color-gray { 
            display: none;
            font-size: 14px;
        }
        
    }
    .only-mobile {
        display: none;
    }
}
@media (max-width: @screen-xs-max) { 
    .box-header-info { 
        display: none; 
    }
    .only-mobile {
        display: block;
    }
}

.panel-body a.recent-photos:active,
.panel-body a.recent-photos:focus,
#cboxNext:active,
#cboxNext:focus,
#cboxPrevious:active,
#cboxPrevious:focus {
    border: none;
    outline: none;
}