<style>
    form {
        margin: 0 auto;
        width: 100%;
        max-width: 370px;
        text-align: center;
    }
    .btn-lg {
        width: 195px;
        color: #fff;
        padding: 13px 20px;
        font-size: 24px;
        line-height: 24px;
        font-weight: lighter;
        height: 51px;
        margin: 0 auto;
    }
</style>
<div class="login-form col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
    <h1 class="text-center">{$di.t->_('Lost Password')}</h1>

    <p class="text-center" style="margin: 25px 0;">Please enter your email address. <br> You will receive a link to create a new password via email.</p>
    {insert "inc.flashMessages.htm"}
    
    <form role="form" method="post">
        <div class="form-group">
            <input type="text" name="email" class="form-control input-login" id="email" placeholder="{$di.t->_('Email*')}">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">{$di.t->_('Submit')}</button>
    </form>
    <div class="text-center" style="margin: 12px 0;">
        <a href="{$di.router->getRouteUrl('main')}">{$di['t']->_('Login')}</a>
    </div>
    <div class="back-to">
        <a href="http://pumpic.com/" class="back-to__link">back to Pumpic.com</a>
    </div>
</div>