<p style="line-height: 20px;">Dear Customer,</p>
<p style="line-height: 20px;">Someone requested the password reset for this email: {$email}<br>If it's a mistake, just ignore this email. <br>To reset your password, click the following link:</p>
<p style="text-align: center;line-height: 20px;"><a href="{$resetUrl}" style="padding:15px 25px;text-align:center;text-decoration:none;display:inline-block;background:#0090d3;border-radius:10px;font-size:24px;color:#fff;margin:10px;">Reset Password</a></p>
<p style="line-height: 20px;">or use the following URL:<br/>{$resetUrl}</p>