<h1 style="text-align: center;">Account <span style="color: #0090d3;">Locked</span>!</h1>
<p style="line-height: 20px;">Dear Customer,</p>
<p style="line-height: 20px;">For your security, your account has been locked because of too many failed login attempts.<br>To unlock your account please click the following link:</p>
<p style="text-align: center;line-height: 20px;"><a href="{$unlockUrl}" style="padding:15px 25px;text-align:center;text-decoration:none;display:inline-block;background:#0090d3;border-radius:10px;font-size:24px;color:#fff;margin:10px;">Unlock account</a></p>
<p style="line-height: 20px;">or use the following URL:<br/>{$unlockUrl}</p>