<style>
    #breadcrumbs {
        color: #fff;
        background: #4d4f5b;
        padding: 10px 15px;
        margin: 10px 0px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #breadcrumbs > a {
        color: #fff;
    }
    
    #breadcrumbs > span {
        color: #ccc;
    }
    
    #block-discount {
        background: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 20px;
    }
    #block-discount label {
        color: red;
    }
    #block-discount .box-buttons {
        margin: 0 auto;
    }
    #block-discount .box-buttons > a.btn {
        width: 33.3333%;
        display: inline-block;
        overflow: hidden;
    }
    
</style>
<div>
    <div id="breadcrumbs">
        <a href="{$di.router->getRouteUrl('billing')}">Subscriptions</a> /
        <a href="{$di.router->getRouteUrl('billingLicense', ['id' => $license.id])}">Subscription details</a> /
        <span>{$title}</span>
    </div>

    {insert "inc.flashMessages.htm"}

    <div id="block-discount">
        <label>Please Wait! We are so sorry to see you go...</label>
        <p>What if we offer you a <b>50% DISCOUNT</b> on all future payments onto this subscription.</p>
        <div class='box-buttons text-center'>
            <a href="{$di.router->getRouteUrl('billingLicenseCancellation', ['id' => $license.id])}" class='btn btn-danger'>
                Disable auto-renewal
                <br /><i>”plan will be valid until expire”</i>
            </a>
            <a href="{$di.router->getRouteUrl('billingEnableDiscount', ['id' => $license.id])}" class='btn btn-default'>
                Continue with 50% discount
                <br /><i>“only $12.99 instead of $24.00”</i>
            </a>
        </div>
    </div>
    
</div>