<style>
    #block-discount {
        background: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 20px;
        max-width: 570px;
        margin: auto;
    }
    #block-discount label {
        font-size: 36px;
        color: #303030;
        text-align: center;
        display: block;
        font-weight: 400;
    }

    #block-discount a.btn {
        display: inline-block;
        overflow: hidden;
        width: 100%;
    }

    #block-discount p{
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        color: #767676;
    }

    #block-discount span{
        color: #16a89e;
        font-weight: 700;
    }

    .buttons-row{
        margin:25px 0px 15px 0;
    }

    .btn-discount{
        background: #16a89e;
        border-color: #16a89e;
    }

    .btn-discount:hover{
        background: rgba(23, 169, 159, 0.78);
        border-color: rgba(23, 169, 159, 0.78);
    }

    @media (max-width: 768px) {
        #block-discount a.btn:first-child {
            margin-bottom: 10px;
        }
    }
</style>
<div>
    <ol class="breadcrumb">
        <li><a href="{$di.router->getRouteUrl('billing')}">Subscriptions</a></li>
        <li><a href="{$di.router->getRouteUrl('billingLicense', ['id' => $license.id])}">Subscription details</a></li>
        <li class="active">{$title}</li>
    </ol>

    {insert "inc.flashMessages.htm"}

    <div id="block-discount">
        <label>Wait</label>
        <p>We are sorry to see you go! That's why we offer you a <br>
            <span>ONE-TIME 20% discount</span> <br>
            for all future payments on this subscription.
        </p>
        <div class="row buttons-row">
            <div class="col-md-6 col-sm-6">
                <a href="{$di.router->getRouteUrl('billingLicenseDisable', ['id' => $license.id])}?ignore-offer" class="btn btn-default">
                    Cancel subscription
                    <br /><i>"plan will be valid until expire"</i>
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="{$di.router->getRouteUrl('billingLicenseDiscountOffer', ['id' => $license.id])}?confirm" class="btn btn-danger btn-discount">
                    Continue with 20% discount<br />
                    <i>"${$license.price_with_cancelation_discount} instead of ${$license.price}"</i>
                </a>
            </div>
        </div>
    </div>

</div>