<style>
    dd {
        padding-left: 20px;
    }
    .table-normal.table-container table th{
        padding: 8px 10px;
    }

    .table-container-auto table{
        table-layout: auto !important;
    }

    .table-container table{
        border-bottom: 0;
    }

    .table-normal.table-container table td {
        padding: 18px 10px;
    }


    @media (max-width: 767px){

        .table-container th:last-child, .table-container td:last-child {
            border-bottom: 0 !important;
        }
        .table-normal.table-container table td{
            padding: 5px 10px;
            margin: 0 0 5px 0px;
        }
        .table-container tr.odd td {
            background: none;
        }
    }
</style>

<div>
    <ol class="breadcrumb">
        <li><a href="{$di.router->getRouteUrl('billing')}">Subscriptions</a></li>
        <li class="active">{$title}</li>
    </ol>

    <h1 class="text-center">{$title}</h1>
    {insert "inc.flashMessages.htm"}


<div class="table-container table-normal panel-default table-profile-devices table-container-auto ">
<table>
    <thead>
    <tr>
        <th>
            <span class="hidden-xs">{$di.t->_('Subscription plan')}</span>
            <span class="visible-xs">{$di.t->_('Subscription plan')}</span>
        </th>
        <th style="width: 150px;">
            <span class="hidden-xs">{$di.t->_('First Period Price')}</span>
            <span class="visible-xs">{$di.t->_('First Period Price')}</span>
        </th>
        <th style="width: 145px !important;">
            <span class="hidden-xs">{$di.t->_('Regular Period Price')}</span>
            <span class="visible-xs">{$di.t->_('Regular Period Price')}</span>
        </th>
        <th>
        <span class="hidden-xs">{$di.t->_('Date of purchase')}</span>
        <span class="visible-xs">{$di.t->_('Date of purchase')}</span>
    </th>
        <th>
            <span class="hidden-xs">{$di.t->_('Expiration date')}</span>
            <span class="visible-xs">{$di.t->_('Expiration date')}</span>
        </th>
        <th style="width: 150px;">
            <span class="hidden-xs">{$di.t->_('Status')}</span>
            <span class="visible-xs">{$di.t->_('Status')}</span>
        </th>
        <th style="width: 145px !important;">
            <span class="hidden-xs">{$di.t->_('Subscription auto-renewal')}</span>
            <span class="visible-xs">{$di.t->_('Subscription auto-renewal')}</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
        <td>{$license.name}</td>
        <td>{$license.amount} {$license.currency} </td>
        <td>{if $license.has_cancelation_discount}
            <s style="color: grey;"> {$license.price_regular} {$license.currency}</s>  <br> {$license.price_with_cancelation_discount} {$license.currency} <span>(20% OFF)</span>
            {else}
            {$license.price_regular} {$license.currency}
            {/if}
        </td>


        <td data-time="{$license.activation_date}">-</td>
        <td data-time="{$license.expiration_date}">-</td>

        <td>
            {$license.status}
        </td>
        {if $license.subscription_payment_method == 'fastspring'}
        <td>
            {if $license.subscription_cancelable}
            {$di.t->_('on')} <a href="{$di.router->getRouteUrl('billingLicenseDisable', ['id' => $license.id])}" class="btn btn-xs btn-danger">{$di.t->_('disable')}</a>
            {else}
            {$di.t->_('off')} <a href="{$di.router->getRouteUrl('billingLicenseEnable', ['id' => $license.id])}" class="btn btn-xs btn-success">{$di.t->_('enable')}</a>
            {/if}
        </td>
        {/if}
    </tr>
    </tbody>
</table>
</div>




{if $license.subscription_payment_method == 'fastspring'}
<div>
    <a href="{$license.subscription_url}" style="display: block; text-align: center;"  target="_blank">{$di.t->_('Subscription details at FastSpring')}</a>
</div>
    {/if}
    <script>
        $(document).ready(function () {
            $('td[data-time]').each(function () {
                if ($(this).attr('data-time') > 0) {
                    $(this).html(moment($(this).attr('data-time') * 1000).zone(0).format('lll'));
                }
            });
        });
    </script>
</div>