<style>

    .list-group {
        margin-top: 20px;
        list-style-type: none;
    }

    .list-group .right-data {
        float: right;
    }

    .option-expire {
        font-size: 1.2em;
        font-weight: normal;
    }
</style>
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{$di.router->getRouteUrl('billing')}">Subscriptions</a></li>
        <li class="active">{$title}</li>
    </ol>
    <div class="col-md-12 text-center">

        {insert "inc.flashMessages.htm"}

        <h4>Please confirm your upgrade <b>{$countSubscription}{$oldName} Subscription{$double}</b> to <b style="color: #16a89e;">{$countSubscription}{$newName} Subscription{$double}</b></h4>

        <form action="" method="post">

            <ul class="list-group">
                <li>Price for {$newName} - <b>{$newPrice} USD</b></li>
                <li>Your current balance - <b>{$balance} USD</b></li>
                <br>
                <li class="option-expire">The price for upgrade - <b  style="color: #16a89e;">{$upgradePrice} USD</b></li>
            </ul>

            {if $license.subscription_cancelable == false}
            <p><b>NB:</b> The subscription auto-renewal will be enabled to perform the update.</p>
            {/if}
            <button name="cancel" class="btn btn-default">Cancel</button> <button name="confirm" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>
