{extends 'index.htm'}

{block 'content'}
<h1 class="text-center">{$title}</h1>
<div class="bordered-container left">
    {$content}
</div>
{if !isset($button) || $button}
<script type="text/javascript">
    $(document).ready(function () {
        var link = {if isset($link)}'{$link}'{else}document.referrer{/if};
        $('.bordered-container.left, .done-button-container').append('<p class="text-left"><a href="' + link + '" class="btn btn-primary">{$di.t->_("I\'m done!")}</a></p>');
        
    });
</script>
{/if}
{/block}