<!DOCTYPE html>
<html>
    <head>
        <title>{$emailTitle}</title>
    </head>
    <body>
        <div class="wrap" style="margin:20px auto;width:700px;overflow:hidden;font-family:Arial,sans-serif;font-size:16px;color:#333;">
            <a class="logo" href="{$emailLogoUrl}" style="float:right;margin:10px 20px;"><img src="{$emailLogoImageUrl}" alt="" /></a>
            <div class="block" style="width:636px;float:left;padding:0 30px;border-radius:20px;border:2px solid #0090d3;">
                {$emailContent}
                {$emailFooter}
            </div>
        </div>
    </body>
</html>