<style>
    .alert a{
        font-weight: normal;
    }
    @media(min-width:768px){
        .alert-app{
            margin-left: calc((100% - 758px) / 2);
        }
    }
    @media(min-width:991px){
        .alert-app{                    
            margin-left: calc((758px - 100%) / -2);
        }
    }
</style>
<div class="alert alert-app">
    <p style="font-weight:500">
        <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="22px" height="22px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
            d="M11.000,1.000 C16.523,1.000 21.000,5.477 21.000,11.000 C21.000,16.523 16.523,21.000 11.000,21.000 C5.477,21.000 1.000,16.523 1.000,11.000 C1.000,5.477 5.477,1.000 11.000,1.000 Z"/>
            <path fill-rule="evenodd"  fill="rgb(239, 171, 55)"
            d="M11.000,0.200 C5.036,0.200 0.200,5.036 0.200,11.000 C0.200,16.964 5.036,21.800 11.000,21.800 C16.964,21.800 21.800,16.964 21.800,11.000 C21.800,5.036 16.964,0.200 11.000,0.200 ZM11.000,17.894 C10.156,17.894 9.578,17.244 9.578,16.400 C9.578,15.532 10.180,14.906 11.000,14.906 C11.867,14.906 12.422,15.532 12.422,16.400 C12.422,17.244 11.867,17.894 11.000,17.894 ZM11.560,12.188 C11.344,12.921 10.667,12.935 10.441,12.188 C10.181,11.329 9.257,8.062 9.257,5.941 C9.257,3.142 12.759,3.128 12.759,5.941 C12.758,8.075 11.784,11.426 11.560,12.188 Z"/>
        </svg>
        IMPORTANT NOTICE
    </p>
    <p>
        We are excited to announce that Pumpic has been acquired by WebWatcher, the #1 Parental Monitoring Software.
    </p>
    <p>Please, use Pumpic Control Panel only to access <strong>old</strong> montitoring data.</p>
    <p>
        For new data, you can sign up for a <strong>new</strong> account from WebWatcher for free, <a href="https://webwatcher.com/freetrial/3/index3.html">Click Here</a>.
    </p>
    <p>
        If you are in the middle of an active Pumpic subscription, please sign up for WebWatcher <a href="https://webwatcher.com/freetrial/3/index3.html">Click Here</a> and then contact support <a href="mailto:nbaker@webwatcher.com?subject=Pumic%20Customer%20Requesting%20WebWatcher%20Service">Click Here</a> with your WebWatcher User ID (email) to activate the remainder of your subscription period.
    </p>
</div>