{if $di.config.demo}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<style type="text/css">
    .demo-banner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 79px;
        text-align: center;
        margin-bottom: 10px;
        background: url({$di.config.staticDomain}/img/demo-banner/bg-lg.png) 0 0 no-repeat #286594;
    }

    .demo-banner .banner-phone {
        display: none;
        vertical-align: middle;
        margin-right: 20px;
        width: 228px;
        height: 79px;
        background: url({$di.config.staticDomain}/img/demo-banner/phone.png) 0 0 no-repeat;
    }

    .demo-banner .banner-text {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        margin-right: 20px;
        height: 79px;
    }

    .demo-banner .banner-text span {
        display: block;
        line-height: 26px;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 26px;
        margin: 14px 0 5px 0;
    }

    .demo-banner .banner-text ul {
        display: inline-block;
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    
    .demo-banner .banner-text ul li {
        display: inline-block;
        margin-right: 10px;
        font-size: 11px;
        line-height: 11px;
    }

    .demo-banner .banner-arrow {
        display: none;
        vertical-align: middle;
        margin-right: 20px;
        width: 69px;
        height: 79px;
        background: url({$di.config.staticDomain}/img/demo-banner/arrow.png) 0 50% no-repeat;
    }

    .demo-banner .banner-btn {
        border-radius: 4px;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 19px;
        font-weight: 300;
        background-color: #cf4757;
        color: white;
        text-shadow: 0 1px 0 rgba(186, 120, 26, 0.4);
        padding: 8px 16px;
        display: inline-block;
    }

    .demo-banner:hover,
    .demo-banner:focus,
    .demo-banner:active {
        cursor: pointer;
    }
    
    .demo-banner .banner-btn:hover, 
    .demo-banner .banner-btn:focus, 
    .demo-banner .banner-btn:active {
        cursor: pointer;
/*        color: white;
        background-color: #d45b69;
        text-decoration: none;*/
    }

    .demo-banner .button-holder {
        display: inline-block;
    }
    
    .demo-banner .button-holder .btn {
        min-width: 0;
    }

    @media (min-width: 1200px) {
        .demo-banner .banner-phone {
            display: inline-block;
        }
    }

    @media (min-width: 800px) {
        .demo-banner .banner-arrow {
            display: inline-block;
        }
    }

    @media (max-width: 640px) {
        .demo-banner {
            height: 150px;
            background: url({$di.config.staticDomain}/img/demo-banner/bg-xs.png) 0 0 no-repeat #398fa7;
        }

        .demo-banner .button-holder {
            margin-top: 10px;
            display: block;
        }

        .demo-banner .banner-text {
            margin: 0;
        }
    }

    @media (max-width: 480px) {
        .demo-banner .banner-text span {
            font-size: 20px;
        }
    }
</style>

<div class="demo-banner">
    <div class="banner-phone"></div>
    <div class="banner-text">
        <span>Smartphone Monitoring App</span>
        <ul>
            {if $di.devicesList[$di.devId].os == 'icloud'}
                <li><i class="fa fa-cloud 333333"></i> (6.0 - 9.3.2)</li>
            {else}
                <li><i class="fa fa-android 222222"></i> (2.2 - 6.0.1)</li>
                <li><i class="fa fa-apple 11111"></i> (6.0 - 9.1)</li>
            {/if}
        </ul>
    </div>
    <div class="banner-arrow"></div>
    <div class="button-holder">
        <a href="{$di.config.url.registration}" class="btn banner-btn" id="demo-banner-button">Buy Now</a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.demo-banner').on('click', function() {
           window.location = '{$di.config.url.registration}';
           return false;
        });
        $('#demo-banner-button').on('click', function() {
            ga('send', 'event', 'buy now', 'click', 'banner');
        });
    });
</script>
{elseif isset($internalTrialLicenseDaysLeft)}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<style type="text/css">
    .internal-trial-banner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 79px;
        text-align: center;
        margin-bottom: 10px;
        background: url({$di.config.staticDomain}/img/trial-banner/bg-lg.png) 0 0 no-repeat #286594;
    }

    .internal-trial-banner .banner-phone {
        display: none;
        vertical-align: middle;
        margin-right: 20px;
        width: 228px;
        height: 79px;
        background: url({$di.config.staticDomain}/img/trial-banner/phone.png) 0 0 no-repeat;
    }

    .internal-trial-banner .banner-expire {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        line-height: 79px;
        margin-right: 20px;
        color: #feff8b;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 33px;
    }

    .internal-trial-banner .banner-digit {
        display: inline-block;
        width: 37px;
        color: #666872;
        font-weight: 600;
        font-size: 34px;
        margin-left: 2px;
        background: url({$di.config.staticDomain}/img/trial-banner/digit-bg.png) 0 50% no-repeat;
    }

    .internal-trial-banner .banner-expire b {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 40px;
        text-transform: uppercase;
    }

    .internal-trial-banner .banner-expire .digit {
        height: 41px;
        width: 37px;
        color: #666872;
        background: url({$di.config.staticDomain}/img/trial-banner/digits.png) 0 0 no-repeat;
    }

    .internal-trial-banner .banner-expire .digit.first {
        position: absolute;
        top: 19px;
        left: 225px;
    }

    .internal-trial-banner .banner-arrow {
        display: none;
        vertical-align: middle;
        margin-right: 20px;
        width: 69px;
        height: 79px;
        background: url({$di.config.staticDomain}/img/trial-banner/arrow.png) 0 50% no-repeat;
    }

    .internal-trial-banner .banner-expire .digit.second {
        position: absolute;
        top: 19px;
        left: 263px;
    }

    .internal-trial-banner .banner-expire .digit.val0 {
        background-position: 0 0;
    }

    .internal-trial-banner .banner-expire .digit.val2 {
        background-position: 0 -41px;
    }

    .internal-trial-banner .banner-expire .digit.val3 {
        background-position: 0 -82px;
    }

    .internal-trial-banner .banner-expire .digit.val4 {
        background-position: 0 -123px;
    }

    .internal-trial-banner .banner-expire .digit.val5 {
        background-position: 0 -164px;
    }

    .internal-trial-banner .banner-expire .digit.val6 {
        background-position: 0 -205px;
    }

    .internal-trial-banner .banner-expire .digit.val7 {
        background-position: 0 -246px;
    }

    .internal-trial-banner .banner-btn {
        border-radius: 4px;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 19px;
        font-weight: 300;
        background-color: #cf4757;
        color: white;
        text-shadow: 0 1px 0 rgba(186, 120, 26, 0.4);
        padding: 8px 16px;
        display: inline-block;
    }

    .internal-trial-banner .banner-btn:hover, 
    .internal-trial-banner .banner-btn:focus, 
    .internal-trial-banner .banner-btn:active {
        color: white;
        background-color: #d45b69;
        text-decoration: none;
    }

    .internal-trial-banner .button-holder {
        display: inline-block;
    }
    
    .internal-trial-banner .button-holder .btn {
        min-width: 0;
    }

    @media (min-width: 1200px) {
        .internal-trial-banner .banner-phone {
            display: inline-block;
        }
    }

    @media (min-width: 992px) {
        .internal-trial-banner .banner-arrow {
            display: inline-block;
        }
    }

    @media (max-width: 640px) {
        .internal-trial-banner {
            height: 150px;
            background: url({$di.config.staticDomain}/img/trial-banner/bg-xs.png) 0 0 no-repeat #398fa7;
    }

    .internal-trial-banner .button-holder {
        margin-top: 10px;
        display: block;
    }

    .internal-trial-banner .banner-expire {
        margin: 0;
    }
    }

    @media (max-width: 480px) {
        .internal-trial-banner .banner-expire {
            font-size: 22px;
        }
    }
</style>

<div class="internal-trial-banner">

    <div class="banner-phone"></div>

    {if $internalTrialLicenseDaysLeft > 1}
    <div class="banner-expire">
        Trial Expires in <span class="banner-digit">0</span><span class="banner-digit">{$internalTrialLicenseDaysLeft}</span> Days
    </div>
    <div class="banner-arrow"></div>
    <div class="button-holder">
        <a href="{$di.config.url.registration}" class="btn banner-btn">Upgrade</a>
    </div>
    {elseif $internalTrialLicenseDaysLeft == 1}
    <div class="banner-expire">Trial Expires <b>Today</b></div>
    <div class="banner-arrow"></div>
    <div class="button-holder">
        <a href="{$di.config.url.registration}" class="btn banner-btn">Upgrade</a>
    </div>
    {else}
    <div class="banner-expire">Trial has <b>EXPIRED</b></div>
    <div class="banner-arrow"></div>
    <div class="button-holder">
        <a href="{$di.config.url.registration}" class="btn banner-btn">Buy Pumpic</a>
    </div>
    {/if}
</div>
{/if}

{if !$di.config.demo}
    <div class="container monitoring-app-links-container-mobile visible-xs-inline-block">
        {insert 'inc.monitoring.app.links.htm'}
    </div>
{/if}
