{if $di.config.demo && $di.devicesList[$di.devId].os == 'android'}
    {set $moduelesAvailability = [
        'calls' => 'primary',
        'sms' => 'primary',
        'locations' => 'primary',
        'browserBookmarks' => 'primary',
        'browserHistory' => 'primary',
        'calendar' => 'primary',
        'contacts' => 'primary',
        'keylogger' => 'default',
        'photos' => 'primary',
        'videos' => 'default',
        'viber' => 'default',
        'skype' => 'default',
        'whatsapp' => 'default',
        'facebook' => 'default',
        'kik' => 'default',
        'vk' => 'default',
        'instagram' => 'default',
        'snapchat' => 'default',
        'emails' => 'primary',
        'applications' => 'primary',
        'smsCommands' => 'default'
    ]}
{/if}
<ul data-role="panelbar" class="nav {if !$di.config.demo}nav-cp-left-bar{/if}">
    {foreach $cpMenu as $url => $menu}
    <li{if $menu.active} class="active"{/if}>
        <a href="{$url}">
            <i class="menu-{$menu.class}" data-module="{$menu.class}"></i>
            <div class="name-wrapper">
                {if isset($moduelesAvailability[$menu['class']])}
                {if $menu.name == "Locations"}
                <span class="name">{$menu.name}</span><span class="asterisk asterisk-{$moduelesAvailability[$menu['class']]}">*</span><i class="fa fa-warning danger-color"></i>
                {else}
                    <span class="name">{$menu.name}</span><span class="asterisk asterisk-{$moduelesAvailability[$menu['class']]}">*</span>
                {/if}
                <span class="name">{$menu.name}</span><span class="asterisk asterisk-{$moduelesAvailability[$menu['class']]}">*</span>
                {else}
                    {if $menu.name == "Locations"}
                        <span class="name">{$menu.name}</span> <i class="fa fa-warning danger-color"></i>
                    {else}
                        <span class="name">{$menu.name}</span>
                    {/if}
                {/if}
            </div>
        </a>    
    </li>
    {/foreach}
    {if isset($moduelesAvailability)}
        <li>
            <div class="bottom-info">
                <div><span class="asterisk asterisk-primary">*</span> - Basic plan</div>
                <div><span class="asterisk asterisk-default">*</span> - Premium plan</div>
                <div><span class="fa fa-warning danger-color"></span> - Warning</div>
            </div>
        </li>
    {else}
    <li>
        <div class="bottom-info">
           <div class="alert-description"><span class="fa fa-warning danger-color"></span> - Warning</div>
        </div>
    </li>
    {/if}
</ul>
