{if $di.config.demo}
<div id="header-info" class="only-mobile">
    <div class="container">
        <!--<div class="box-info">-->
            <!--{if !empty($di.devicesList)}-->
                <!--{if $di.devicesList[$di.devId].os == 'icloud'}-->
                    <!--<label>This is <b>iPhone (without jailbreak)</b> DEMO mode</label>-->
                <!--{else}-->
                    <!--<label>This is <b>Android</b> and <b>iPhone (with jailbreak)</b> DEMO mode</label>-->
            <!--{/if}-->
            <!--{/if}-->
        <!--</div>-->
    </div>
</div>
{/if}
<div id="header" class="navbar-default">
    <div class="container">
        {if !$di.config.demo}
        <div class="monitoring-app-links-container-wide visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
            {insert 'inc.monitoring.app.links.htm'}
        </div>
        {/if}

        <div class="logo-holder">
            {if $di.config.demo}
                <a href="{if !goBack()}{$di.config.domain}{else}{goBack()}{/if}" class="logo logo-demo"></a>
            {else}
            <a href="{$di.config.domain}" class="logo"></a>
            {/if}
        </div>
        {if !empty($cpMenu)}
        <div class="toggle-left">
            <button data-toggle="collapse" class="navbar-toggle collapsed" id="toggle" type="button">
                <span class="icon-star-bar"></span>
            </button>
        </div>
        {/if}
        <div class="toggle-right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{$di.t->_('Toggle navigation')}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {if $di.config.demo}
        <div class="filter_fe">
            {if !empty($di.devicesList)}
            <ul class="filter_list">
                {if $di.devicesList[$di.devId].os == 'icloud'}
                <li class="filter_item filter-active"><i class="fa fa-apple filter_icon"></i></i><b>iOS</b><span class="filter_version"> (iCloud)</span></li>
                <li><a href="{$di.router->getRouteUrl('setDevice', ['devId'=>125])}" class="filter_item"><i class="fa fa-android filter_icon"></i><b>Android</b></a></li>
                <li><a href="{$di.router->getRouteUrl('setDevice', ['devId'=>5059])}" class="filter_item"><i class="fa fa-unlock-alt fa-lg filter_icon"></i></i><b>iOS</b><span class="filter_version"> (jailbreak)</span></a></li>
                {else}
                    {if $di.devicesList[$di.devId].os == 'android'}
                    <li><a href="{$di.router->getRouteUrl('setDevice', ['devId'=>126])}" class="filter_item"><i class="fa fa-apple filter_icon"></i></i><b>iOS</b><span class="filter_version"> (iCloud)</span></a></li>
                    <li class="filter_item filter-active"><i class="fa fa-android filter_icon"></i><b>Android</b></li>
                    <li><a href="{$di.router->getRouteUrl('setDevice', ['devId'=>5059])}" class="filter_item"><i class="fa fa-unlock-alt fa-lg filter_icon"></i></i><b>iOS</b><span class="filter_version"> (jailbreak)</span></a></li>
                    {else}

                    <li><a href="{$di.router->getRouteUrl('setDevice', ['devId'=>126])}" class="filter_item"><i class="fa fa-apple filter_icon"></i></i><b>iOS</b><span class="filter_version"> (iCloud)</span></a></li>
                    <li><a href="{$di.router->getRouteUrl('setDevice', ['devId'=>125])}" class="filter_item"><i class="fa fa-android filter_icon"></i><b>Android</b></a></li>
                    <li class="filter_item filter-active"><i class="fa fa-unlock-alt fa-lg filter_icon"></i></i><b>iOS</b><span class="filter_version"> (jailbreak)</span></li>
                    {/if}
                {/if}
            </ul>
            {/if}
        </div>
        {/if}

    </div>

    <div class="menu">
        <div class="container">
            <div class="navbar-collapse collapse{*if $di.auth->hasIdentity()}left{else}center{/if*}">
                <div class="navbar-inner">
                    <ul class="nav navbar-nav">
                        {if $di.auth->hasIdentity()}
                            <li><a href="{$di.router->getRouteUrl('cp')}">{$di.t->_('Control Panel')}</a></li>
                            <li><a href="{$di.router->getRouteUrl('profile')}" class="active">{$di.t->_('Profile')}</a></li>
                            {if !$supportMode}<li><a target="_blank" href="{$di.config.url.registration}">{$di.t->_('Store')}</a></li>{/if}
                            {if !$demoMode && !$supportMode}<li><a href="{$di.router->getRouteUrl('billing')}">{$di.t->_('Subscriptions')}</a></li>{/if}
                            {if !$demoMode && !$supportMode}<li><a href="{$di.router->getRouteUrl('support')}">{$di.t->_('Support')}</a></li>{/if}
                            <li><a href="{$di.router->getRouteUrl('logout')}">{$di.t->_('Log out')}</a></li>
                        {else}
                            <li><a target="_blank" href="{$di.config.url.registration}" rel="nofollow">{$di.t->_('Not a Member?')}</a></li>
                        {/if}
                        {if $demoMode and $di.isFreTrialLinksVisible}
                            <li id="free-trial-menu-link">
                                <a href="{$di.config.mainURL}/free-trial.html">{$di.t->_('Free Trial')}</a>
                            </li>
                        {/if}
                    </ul>

                    {*if !$di.auth->hasIdentity()}
                    {if count($di.config.locales) > 1}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {if !empty($di.locale)}{$di.config.locales[$di.locale]}{else}-{/if}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {foreach $di.config.locales as $locale => $lang}
                                <li><a href="{$di.router->getRouteUrl('main')}locale/{$locale}">{$lang}</a></li>
                                {/foreach}
                            </ul>
                        </li>
                    </ul>
                    {/if}
                    {/if*}

                    {if !empty($di.devicesList)}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown devices-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="device-status-s {$di.devicesList[$di.devId].os}{if $di.devicesList[$di.devId].online || $di.devicesList[$di.devId].sync} online{/if}"></i>{$di.devicesList[$di.devId].name|e}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {foreach $di.devicesList as $id => $device}
                                <li>
                                    {if $supportMode}
                                    <a href="{$di.router->getRouteUrl('setDevice', ['devId'=>$id])}"><i class="device-status-s {$device.os}{if $device.online || $device.sync} online{/if}"></i> {if $device.deleted > 0}<i style="color: #f00; font-style: normal; text-decoration: line-through;">{$device.name|e}</i>{else}{$device.name|e}{/if} {if $device.package_name == null}<span class="text-muted">no-plan</span>{else}<span class="text-info">{$device.package_name|e}</span>{/if}</a>
                                    {else}
                                    <a href="{$di.router->getRouteUrl('setDevice', ['devId'=>$id])}"><i class="device-status-s {$device.os}{if $device.online || $device.sync} online{/if}"></i> {$device.name|e} {if $device.package_name == null}<span class="text-muted">no-plan</span>{else}<span class="text-info">{$device.package_name|e}</span>{/if}</a>
                                    {/if}
                                </li>
                                {/foreach}
                            </ul>
                        </li>
                    </ul>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>