<style>
    .alert a{
        font-weight: normal;
    }
    @media(min-width:768px){
        .alert-app{
            margin-left: calc((100% - 758px) / 2);
        }
    }
    @media(min-width:991px){
        .alert-app{                    
            margin-left: calc((758px - 100%) / -2);
        }
    }
</style>
<div class="alert alert-app">
    <p class="text-center">
        <img src="{$di.config.staticDomain}/img/warning.svg" alt="!">
        IMPORTANT NOTICE
    </p>
    <p>
        We are excited to announce that Pumpic website has been aquired by WebWatcher (Awareness Techologies).
    </p>
    <p>Please, use Pumpic Control Panel only to access <strong>old</strong> montitoring data.</p>
    <p>
        Your new data is accessible with <a href="https://login.webwatcher.com/">WebWatcher Control Panel</a>. Login details were sent to the e-mail address you used while registering for Pumpic.
    </p>
    <p>
        In case you don’t receive an e-mail, please contact <a href="https://webwatcher.com/contact-us.html">WebWatcher Customer Support</a> via 1-888-682-9501 or <a href="https://ticket.awarenesstechnologies.com/Main/Chat/frmClientPreChat.aspx?InfoGuid=e9720cff9bbc4938a0fc0e2477d0b756&amp;config=1">Live Chat</a>).
    </p>
</div>