<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {if isset($descriptionMeta)}<meta name="description" content="{$descriptionMeta}">{/if}
        {if isset($authorMeta)}<meta name="author" content="{$authorMeta}">{/if}
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <link rel="shortcut icon" href="{$di.config.staticDomain}/ico/favicon.ico">
        {if $norobots}
            <meta name="robots" content="noindex,nofollow" />
        {/if}

        <title>{$title}</title>

        {* only for pumpic theme *}
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600" rel="stylesheet" />

        {if $di.config.environment == 'development'}
            {if $di.auth->hasIdentity()}
                <link href="{$di.config.staticDomain}/stylesheets/backend.css?b{$di.config.build}" rel="stylesheet" />
                <script type="text/javascript" src="{$di.config.staticDomain}/javascript/backend.js?b{$di.config.build}"></script>
            {else}
                <link href="{$di.config.staticDomain}/stylesheets/frontend.css?b{$di.config.build}" rel="stylesheet" />
                <script type="text/javascript" src="{$di.config.staticDomain}/javascript/frontend.js?b{$di.config.build}"></script>
            {/if}
        {else}
            {if $di.auth->hasIdentity()}
                <link href="{$di.config.staticDomain}/stylesheets/backend.min.css?b{$di.config.build}" rel="stylesheet" />
                <script type="text/javascript" src="{$di.config.staticDomain}/javascript/backend.min.js?b{$di.config.build}"></script>
            {else}
                <link href="{$di.config.staticDomain}/stylesheets/frontend.min.css?b{$di.config.build}" rel="stylesheet" />
                <script type="text/javascript" src="{$di.config.staticDomain}/javascript/frontend.min.js?b{$di.config.build}"></script>
            {/if}
        {/if}
        {if $supportMode}
        <style type="text/css">
            .blur-for-support {
                filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=8);
                filter: blur(8px); 
                -webkit-filter: blur(8px); 
                -moz-filter: blur(8px);
                -o-filter: blur(8px); 
                -ms-filter: blur(8px);
            }
        </style>
        {/if}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {insert 'inc.scripts.htm'}
        <script type="text/javascript">
            var cookieDomain = "{$di.config.cookieDomain}";
            $(document).ready(function () {
                if(!getCookie('_screen')) {
                    $.cookie('_screen', 
                            $(window).width()+'x'+$(window).height(), 
                            { expires: 7, path: '/', domain: cookieDomain }
                    );
                    // console.log( getCookie('_screen') );
                }
            });
        </script> 
        {if $di.auth->hasIdentity()}
        <script type="text/javascript">
            moment.locale('{$di.t->getLocale()}');
            {if $di.config.demo}
            $(document).ready(function(){
                disabledOnDemoAlert = function() {
                    alert("{$di.t->_('Not available in demo.')}");
                };
                
                $('body').on('click', '.disable-on-demo', function(e){
                    disabledOnDemoAlert();
                    e.preventDefault();
                });
            });
            {/if}
        </script>
        {/if}
    </head>
    <body>
        {insert 'inc.afterBodyScripts.htm'}
        {if !empty($cpMenu)}
        <div class="cp-menu">
            {insert 'inc.cp.menu.htm'}
        </div>
        {/if}
        <div class="row-offcanvas wrapper">
            <div class="wrapper-container">
                {insert 'inc.header.htm'}
                <div class="container">
                    <div class="row">
                        {if !empty($cpMenu)}
                        <div class="menu-wrapper">
                            <div class="cp-menu hidden-xs">
                                {insert 'inc.cp.menu.htm'}
                            </div>
                        </div>
                        <div class="content-wrapper">
                            {insert 'inc.banners.htm'}
                            {block 'content'}{$content}{/block}
                        </div>
                        {else}
                            {insert 'inc.banners.htm'}
                            {block 'content'}{$content}{/block}
                        {/if}
                    </div>
                </div>
            </div>
            {insert 'inc.footer.htm'}
        </div>
        {insert 'inc.bodyScripts.htm'}
    </body>
</html>